Repository gip-inclusion/carnet-de-bord: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-elm-compile, app-elm-review, e2e-prettier, e2e-eslint, check-hasura-version

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: quarterly

default_stages: [commit]

default_install_hook_types: [pre-commit, commit-msg]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-case-conflict
      - id: check-yaml
      - id: end-of-file-fixer
        exclude: (excalidraw|CdbGQL|schema\.graphql)
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: /__snapshots__/

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.257
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: [--target-version=py310]

  - repo: local
    hooks:
      - id: no-commit-on-main-branch
        name: no direct commit on main branch
        language: system
        always_run: true
        entry: |
          ./scripts/no-commit-on-main-branch.sh

      - id: app-prettier
        name: run prettier (app)
        language: system
        files: ^app/.*$
        types_or: [javascript, ts, svelte]
        entry: |
          bash -c 'npm --prefix app run fix:prettier --write "${@#*/}"' --

      - id: app-check
        name: run svelte-check (app)
        language: system
        files: ^app/.*$
        types_or: [javascript, ts, svelte]
        pass_filenames: false
        entry: |
          bash -c 'npm --prefix app run check' --

      - id: app-eslint
        name: run eslint (app)
        language: system
        files: ^app/.*$
        types_or: [javascript, ts, svelte]
        exclude: /_gen/
        entry: |
          bash -c 'npm --prefix app run fix:eslint "${@#*/}"' --

      - id: app-elm-compile
        name: run elm make on all Main.elm
        language: system
        files: ^app/.*\.elm$
        pass_filenames: false
        entry: |
          ./scripts/all-elm-compiles.sh


      - id: app-elm-review
        name: run elm-review (app)
        language: system
        files: ^app/.*\.elm$
        pass_filenames: false
        entry: |
          bash -c 'yes Y | npm --prefix app run lint:elm-review -- --fix-all' --

      - id: e2e-prettier
        name: run prettier (e2e)
        language: system
        files: ^e2e/.*$
        types_or: [javascript]
        entry: |
          bash -c 'npm --prefix e2e  run fix:prettier "${@#*/}"' --

      - id: e2e-eslint
        name: run eslint (e2e)
        language: system
        files: ^e2e/.*$
        types_or: [javascript]
        entry: |
          bash -c 'npm --prefix e2e run fix:eslint "${@#*/}"' --

      - id: check-hasura-version
        name: ensure hasura version consistency
        language: system
        pass_filenames: false
        files: |
          (?x)^(
            docker-compose.yaml|
            docker-compose-test.yaml|
            hasura/.hasura_version|
          )
        entry: |
          ./scripts/check-hasura-version

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: "v8.0.0"
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

Notes added by 'git notes add'
  4c/ff40aa15e350d64a1fccade62b6fc8f7eafe8a
Due: check-hasura-version

fix(e2e): tentative de stabilisation des résultats des tests
  e2e/features/pro/carnet/appointments.feature
  e2e/features/structureAdmin/carnet/appointments.feature
  e2e/integration/manager/orientationImport.js
Due: e2e-prettier, e2e-eslint, check-hasura-version

fix(e2e): tentative de stabilisation des résultats des tests (#1950)
  e2e/features/pro/carnet/appointments.feature
  e2e/features/structureAdmin/carnet/appointments.feature
  e2e/integration/manager/orientationImport.js
Due: e2e-prettier, e2e-eslint, check-hasura-version

chore(release): 1.249.1
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  c3/dd064fe4e72fbb9e071009277b2bf399bd9fd5
Due: check-hasura-version

fix: variable name
  app/elm/DiagnosticEdit/Main.elm
Due: app-elm-compile, app-elm-review, check-hasura-version

feat(diagnostic): tri alphabétique des situations
  app/elm/Diagnostic/PersonalSituation.elm
  app/elm/DiagnosticEdit/Main.elm
  app/elm/Domain/RefTheme.elm
  app/elm/Domain/Situation.elm
  app/tests/Diagnostic/MainTests.elm
Due: app-elm-compile, app-elm-review, check-hasura-version

fix: e2e test
  e2e/integration/manager/orientationImport.js
Due: e2e-prettier, e2e-eslint, check-hasura-version

feat(diagnostic): tri alphabétique des situations (#1946)
  app/elm/Diagnostic/PersonalSituation.elm
  app/elm/DiagnosticEdit/Main.elm
  app/elm/Domain/RefTheme.elm
  app/elm/Domain/Situation.elm
  app/tests/Diagnostic/MainTests.elm
  e2e/integration/manager/orientationImport.js
Due: app-elm-compile, app-elm-review, e2e-prettier, e2e-eslint, check-hasura-version

chore(release): 1.250.0
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  5b/6aa26aa66093635d76d45d2754253fb1d5771f
Due: check-hasura-version

fix: no action sur les update
  hasura/migrations/carnet_de_bord/1691584295337_track_notebook_updates/up.sql
Due: check-hasura-version

feat(KPI): suivre les modification d'un carnet
  hasura/metadata/databases/carnet_de_bord/tables/public_notebook_updates_track.yaml
  hasura/metadata/databases/carnet_de_bord/tables/tables.yaml
  hasura/migrations/carnet_de_bord/1691584295337_track_notebook_updates/down.sql
  hasura/migrations/carnet_de_bord/1691584295337_track_notebook_updates/up.sql
Due: check-hasura-version

fix: only after update
  hasura/migrations/carnet_de_bord/1691584295337_track_notebook_updates/up.sql
Due: check-hasura-version

fix: cascade
  hasura/migrations/carnet_de_bord/1691584295337_track_notebook_updates/up.sql
Due: check-hasura-version

fix: seed
  hasura/migrations/carnet_de_bord/1691584295337_track_notebook_updates/up.sql
  hasura/seeds/carnet_de_bord/seed-data.sql
Due: check-hasura-version

feat(trigger): met à jour les dates de dernières édition d'un membre de carnet
  hasura/migrations/carnet_de_bord/1691584295337_track_notebook_updates/up.sql
Due: check-hasura-version

Update hasura/migrations/carnet_de_bord/1691584295337_track_notebook_updates/up.sql
  hasura/migrations/carnet_de_bord/1691584295337_track_notebook_updates/up.sql
Due: check-hasura-version

fix: delete foreign keys
  hasura/migrations/carnet_de_bord/1691584295337_track_notebook_updates/up.sql
Due: check-hasura-version

fix: e2e tests
  e2e/integration/manager/orientationImport.js
Due: e2e-prettier, e2e-eslint, check-hasura-version

feat(KPI): suivre les modification d'un carnet (#1951)
  e2e/integration/manager/orientationImport.js
  hasura/metadata/databases/carnet_de_bord/tables/public_notebook_updates_track.yaml
  hasura/metadata/databases/carnet_de_bord/tables/tables.yaml
  hasura/migrations/carnet_de_bord/1691584295337_track_notebook_updates/down.sql
  hasura/migrations/carnet_de_bord/1691584295337_track_notebook_updates/up.sql
  hasura/seeds/carnet_de_bord/seed-data.sql
Due: e2e-prettier, e2e-eslint, check-hasura-version

chore(release): 1.251.0
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  1a/6e69250234e221a1bf63227393699dd6810cdd
Due: check-hasura-version

refactor(api): amélioration des signatures des fonctions
  app/src/routes/api/notebooks/+server.ts
Due: check-hasura-version

refactor(api): extraction de fonctions sur l'api de création de carnet
  app/src/routes/api/notebooks/+server.ts
Due: check-hasura-version

feat(rdvi): historise les créations de carnet
  app/src/routes/api/notebooks/+server.ts
  app/src/routes/api/notebooks/CreateRDVINotebookCreation.gql
  app/src/routes/api/notebooks/notebook.test.ts
  hasura/metadata/databases/carnet_de_bord/tables/public_beneficiary.yaml
  hasura/metadata/databases/carnet_de_bord/tables/public_rdvi_notebook_creations.yaml
  hasura/metadata/databases/carnet_de_bord/tables/tables.yaml
  hasura/migrations/carnet_de_bord/1691672216031_create_table_public_rdvi_notebook_creations/down.sql
  hasura/migrations/carnet_de_bord/1691672216031_create_table_public_rdvi_notebook_creations/up.sql
  hasura/schema.graphql
Due: check-hasura-version

fix: seeds
  hasura/seeds/carnet_de_bord/seed-data.sql
Due: check-hasura-version

refactor: inline gql queries
  backend/cdb/api/db/crud/beneficiary.py
  backend/cdb/api/v1/routers/notebooks_create.py
Due: check-hasura-version

refactor: rename table name
  hasura/metadata/databases/carnet_de_bord/tables/public_beneficiary.yaml
  hasura/metadata/databases/carnet_de_bord/tables/public_notebook_creation.yaml
  hasura/metadata/databases/carnet_de_bord/tables/public_notebook_creation_source_type.yaml
  hasura/metadata/databases/carnet_de_bord/tables/public_rdvi_notebook_creations.yaml
  hasura/metadata/databases/carnet_de_bord/tables/tables.yaml
  hasura/migrations/carnet_de_bord/1691672216031_create_table_public_rdvi_notebook_creations/down.sql
  hasura/migrations/carnet_de_bord/1691672216031_create_table_public_rdvi_notebook_creations/up.sql
  hasura/schema.graphql
  hasura/seeds/carnet_de_bord/seed-data.sql
Due: check-hasura-version

refactor: move insert notebook creation in backend api
  backend/cdb/api/db/crud/beneficiary.py
  backend/cdb/api/v1/routers/notebooks_create.py
  backend/tests/api/test_notebooks_create.py
Due: check-hasura-version

refactor: move insert notebook creation in backend api (app code)
  app/src/routes/api/notebooks/+server.ts
  app/src/routes/api/notebooks/CreateRDVINotebookCreation.gql
  app/src/routes/api/notebooks/notebook.test.ts
Due: check-hasura-version

test: fix incorrect assertion on nb calls
  app/src/routes/api/notebooks/notebook.test.ts
Due: check-hasura-version

test: attempt to fix flaky test
  e2e/integration/manager/orientationImport.js
Due: e2e-prettier, e2e-eslint, check-hasura-version

refactor: move insert notebook creation in backend api
  app/src/routes/api/notebooks/+server.ts
  app/src/routes/api/notebooks/CreateRDVINotebookCreation.gql
  app/src/routes/api/notebooks/notebook.test.ts
  backend/cdb/api/db/crud/beneficiary.py
  backend/cdb/api/v1/routers/notebooks_create.py
  backend/tests/api/test_notebooks_create.py
  e2e/integration/manager/orientationImport.js
Due: e2e-prettier, e2e-eslint, check-hasura-version

fix: fix notebook_upadte migration
  hasura/metadata/databases/carnet_de_bord/tables/public_notebook_update.yaml
  hasura/metadata/databases/carnet_de_bord/tables/public_notebook_updates_track.yaml
  hasura/metadata/databases/carnet_de_bord/tables/tables.yaml
  hasura/migrations/carnet_de_bord/1691584295337_track_notebook_updates/down.sql
  hasura/migrations/carnet_de_bord/1691584295337_track_notebook_updates/up.sql
  hasura/schema.graphql
  hasura/seeds/carnet_de_bord/seed-data.sql
Due: check-hasura-version

fix: rename notebook_update and add trigger (#1968)
  hasura/metadata/databases/carnet_de_bord/tables/public_notebook_update.yaml
  hasura/metadata/databases/carnet_de_bord/tables/public_notebook_updates_track.yaml
  hasura/metadata/databases/carnet_de_bord/tables/tables.yaml
  hasura/migrations/carnet_de_bord/1691584295337_track_notebook_updates/down.sql
  hasura/migrations/carnet_de_bord/1691584295337_track_notebook_updates/up.sql
  hasura/schema.graphql
  hasura/seeds/carnet_de_bord/seed-data.sql
Due: check-hasura-version

chore(release): 1.251.1
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  2d/c5e30a54e43c947cfdfbcef647a7b6ef3e6dc6
Due: check-hasura-version
