Repository gip-inclusion/carnet-de-bord: changes, and which pre-commit hooks are due for each by the changed paths.
All: e2e-prettier, e2e-eslint, check-hasura-version, check-codegen

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: quarterly

default_stages: [commit]

default_install_hook_types: [pre-commit, commit-msg]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-case-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: [--target-version=py310]

  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier (app)
        language: system
        files: ^app/.*$
        types_or: [javascript, ts, svelte]
        entry: |
          bash -c 'npm --workspace app --silent run fix:prettier --write "${@#*/}"' --

      - id: app-eslint
        name: run eslint (app)
        language: system
        files: ^app/.*$
        types_or: [javascript, ts, svelte]
        exclude: /_gen/
        entry: |
          bash -c 'npm --workspace app --silent run fix:eslint "${@#*/}"' --

      - id: e2e-prettier
        name: run prettier (e2e)
        language: system
        files: ^e2e/.*$
        types_or: [javascript]
        entry: |
          bash -c 'npm --workspace e2e --silent run fix:prettier "${@#*/}"' --

      - id: e2e-eslint
        name: run eslint (e2e)
        language: system
        files: ^e2e/.*$
        types_or: [javascript]
        entry: |
          bash -c 'npm --workspace e2e --silent run fix:eslint "${@#*/}"' --

      - id: check-hasura-version
        name: ensure hasura version consistency
        language: system
        pass_filenames: false
        files: |
          (?x)^(
            hasura/Dockerfile|
            hasura/.hasura_version|
          )
        entry: |
          ./scripts/check-hasura-version.sh

      - id: check-codegen
        name: check if codegen needs to be ran
        language: system
        pass_filenames: false
        files: ^app/.*\.gql$
        # To determine if codegen needs to be ran, modification and commit dates
        # of all *.gql files and the generated file are computed, and then sorted.
        # For this we use git log and git status commands.
        # The most recent date is kept.
        # Finally, the most recent date shall be the one of the generated file.
        # Otherwise, it means that genereted file has to be re-generated.
        entry: |
          bash -c 'for i in "*.gql" app/src/lib/graphql/_gen/typed-document-nodes.ts;
            do echo $(git log -1 --format=%ct $i) $i;
            git status --porcelain "$i" |cut -c4-|xargs stat -f "%m %N";
          done | sort | tail -1 | grep -F "app/src/lib/graphql/_gen/typed-document-nodes.ts"' --

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: "v8.0.0"
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

feat: add seed data
  hasura/seeds/carnet_de_bord/seed-data.sql
Due: check-hasura-version

chore: generate gql types
  app/src/lib/graphql/_gen/typed-document-nodes.ts
Due: check-hasura-version

chore: update pro query
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/lib/ui/ProfessionalList/_getProfessionalsForStructure.gql
Due: check-hasura-version, check-codegen

feat: select professional orientation systems
  app/src/lib/ui/ProfessionalList/EditProfessionalAccountLayer.svelte
Due: check-hasura-version

fix: add missing permissions for delete
  hasura/metadata/databases/carnet_de_bord/tables/public_professional_orientation_system.yaml
  hasura/metadata/databases/carnet_de_bord/tables/public_structure_orientation_system.yaml
Due: check-hasura-version

fix: snake_case to camelCase
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/lib/ui/ProfessionalList/EditProfessionalAccountLayer.svelte
  app/src/lib/ui/ProfessionalList/_getProfessionalsForStructure.gql
  app/src/lib/ui/ProfessionalList/_updateProfessionalAccount.gql
  hasura/metadata/databases/carnet_de_bord/tables/public_deployment.yaml
  hasura/metadata/databases/carnet_de_bord/tables/public_deployment_orientation_system.yaml
  hasura/metadata/databases/carnet_de_bord/tables/public_orientation_system.yaml
  hasura/metadata/databases/carnet_de_bord/tables/public_professional.yaml
  hasura/metadata/databases/carnet_de_bord/tables/public_professional_orientation_system.yaml
  hasura/metadata/databases/carnet_de_bord/tables/public_structure.yaml
  hasura/metadata/databases/carnet_de_bord/tables/public_structure_orientation_system.yaml
Due: check-hasura-version, check-codegen

fix: add missing name field
  hasura/migrations/carnet_de_bord/1673023035136_create_table_public_orientation_system/up.sql
Due: check-hasura-version

chore: add seed data for orientation_system
  hasura/seeds/carnet_de_bord/seed-data.sql
Due: check-hasura-version

chore: generate graphql types
  app/src/lib/graphql/_gen/typed-document-nodes.ts
Due: check-hasura-version

fix: truncate orientation_system table in seeds
  hasura/seeds/carnet_de_bord/seed-data.sql
Due: check-hasura-version

feat: get orientation system for structure
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/lib/ui/ProfessionalList/_getProfessionalsForStructure.gql
Due: check-hasura-version, check-codegen

chore: add default data to migration
  hasura/migrations/carnet_de_bord/1673023035136_create_table_public_orientation_system/up.sql
  hasura/seeds/carnet_de_bord/seed-data.sql
Due: check-hasura-version

feat: display orientation systems for professional
  app/src/lib/ui/ProfessionalList/EditProfessionalAccountLayer.svelte
Due: check-hasura-version

If to ternary operator
  app/src/lib/ui/ProfessionalList/EditProfessionalAccountLayer.svelte
Due: check-hasura-version

Update hasura/metadata/databases/carnet_de_bord/tables/public_deployment_orientation_system.yaml
  hasura/metadata/databases/carnet_de_bord/tables/public_deployment_orientation_system.yaml
Due: check-hasura-version

Fix review comments
  app/src/lib/ui/ProfessionalList/EditProfessionalAccountLayer.svelte
Due: check-hasura-version

Use const instead of let
  app/src/lib/ui/ProfessionalList/EditProfessionalAccountLayer.svelte
Due: check-hasura-version

feat: add sentry logging
  app/src/lib/ui/ProfessionalList/EditProfessionalAccountLayer.svelte
Due: check-hasura-version

fix: syntax errors
  app/src/lib/ui/ProfessionalList/EditProfessionalAccountLayer.svelte
Due: check-hasura-version

chore: squash migrations
  hasura/metadata/metrics_config.yaml
  hasura/migrations/carnet_de_bord/1673023035136_create_table_public_orientation_system/down.sql
  hasura/migrations/carnet_de_bord/1673023035136_create_table_public_orientation_system/up.sql
  hasura/migrations/carnet_de_bord/1673345178939_create_table_public_deployment_orientation_system/down.sql
  hasura/migrations/carnet_de_bord/1673345178939_create_table_public_deployment_orientation_system/up.sql
  hasura/migrations/carnet_de_bord/1673345286625_create_table_public_structure_orientation_system/down.sql
  hasura/migrations/carnet_de_bord/1673345286625_create_table_public_structure_orientation_system/up.sql
  hasura/migrations/carnet_de_bord/1673345447763_create_orientation_system/down.sql
  hasura/migrations/carnet_de_bord/1673345447763_create_orientation_system/up.sql
  hasura/migrations/carnet_de_bord/1673345447763_create_table_public_professional_orientation_system/down.sql
  hasura/migrations/carnet_de_bord/1673345447763_create_table_public_professional_orientation_system/up.sql
Due: check-hasura-version

feat: rendre possible l'affectation des types d'orientation à un professionnel (#1415)
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/lib/ui/ProfessionalList/EditProfessionalAccountLayer.svelte
  app/src/lib/ui/ProfessionalList/_getProfessionalsForStructure.gql
  app/src/lib/ui/ProfessionalList/_updateProfessionalAccount.gql
  e2e/features/structureAdmin/edit_professional.feature
  e2e/step_definitions/steps.js
  hasura/metadata/databases/carnet_de_bord/tables/public_deployment.yaml
  hasura/metadata/databases/carnet_de_bord/tables/public_deployment_orientation_system.yaml
  hasura/metadata/databases/carnet_de_bord/tables/public_orientation_system.yaml
  hasura/metadata/databases/carnet_de_bord/tables/public_professional.yaml
  hasura/metadata/databases/carnet_de_bord/tables/public_professional_orientation_system.yaml
  hasura/metadata/databases/carnet_de_bord/tables/public_structure.yaml
  hasura/metadata/databases/carnet_de_bord/tables/public_structure_orientation_system.yaml
  hasura/metadata/databases/carnet_de_bord/tables/tables.yaml
  hasura/metadata/metrics_config.yaml
  hasura/migrations/carnet_de_bord/1673345447763_create_orientation_system/down.sql
  hasura/migrations/carnet_de_bord/1673345447763_create_orientation_system/up.sql
  hasura/seeds/carnet_de_bord/seed-data.sql
Due: e2e-prettier, e2e-eslint, check-hasura-version, check-codegen

chore(release): 1.183.0
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  3e/522ed66ba6596914cb1c00d8a7863d82a69605
Due: check-hasura-version

chore: remove now useless properties from gql query
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/routes/(auth)/admin/deployment/_getStructuresForDeployment.gql
Due: check-hasura-version, check-codegen

chore: adjust max-width of the form
  app/src/lib/ui/StructureEdit/StructureCreationForm.svelte
Due: check-hasura-version

feat: adjust structure edit form for admin also
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/lib/ui/StructureEdit/StructureEditLayer.svelte
  app/src/routes/(auth)/admin/deployment/[uuid]/structures/+page.svelte
  app/src/routes/(auth)/admin/deployment/[uuid]/structures/[structure_id]/+page.svelte
  app/src/routes/(auth)/admin/deployment/[uuid]/structures/[structure_id]/+page.ts
  app/src/routes/(auth)/manager/structures/[structure_id]/_getStructureById.gql
  e2e/features/admin_cdb/updateStructure.feature
  e2e/features/manager/updateStructure.feature
Due: check-hasura-version, check-codegen

chore: fix typo in e2e test titles
  e2e/features/admin_cdb/updateStructure.feature
  e2e/features/manager/updateStructure.feature
Due: check-hasura-version

chore: fix typo in placeholder
  app/src/lib/ui/StructureEdit/StructureCreationForm.svelte
Due: check-hasura-version

feat: improve navigation while saving or canceling structure edit
  app/src/lib/ui/StructureEdit/StructureEditLayer.svelte
  app/src/routes/(auth)/admin/deployment/[uuid]/structures/[structure_id]/+page.svelte
  app/src/routes/(auth)/manager/structures/[structure_id]/+page.svelte
Due: check-hasura-version

chore: avoid setting useless path and name for current breadcrumb
  app/src/lib/routes/index.ts
  app/src/routes/(auth)/admin/deployment/[uuid]/structures/[structure_id]/+page.svelte
  app/src/routes/(auth)/manager/structures/[structure_id]/+page.svelte
Due: check-hasura-version

feat: move update structure form in dedicated full page
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/lib/ui/StructureEdit/StructureEditLayer.svelte
  app/src/routes/(auth)/manager/structures/+page.svelte
  app/src/routes/(auth)/manager/structures/[structure_id]/+page.svelte
  app/src/routes/(auth)/manager/structures/[structure_id]/+page.ts
  app/src/routes/(auth)/manager/structures/[structure_id]/_getStructureById.gql
Due: check-hasura-version, check-codegen

chore: use proper naming for admin de territoire
  DEMO.md
  app/src/lib/ui/Deployment/View.svelte
  e2e/features/admin_cdb/add_manager.feature
  e2e/features/manager/home.feature
  e2e/features/manager/importBeneficiaires.feature
  e2e/features/manager/importOrientationManager.feature
  e2e/features/manager/importStructures.feature
  e2e/features/manager/onboardingManager.feature
  e2e/features/manager/rattachement.feature
  e2e/features/manager/showListBeneficiairies.feature
  e2e/features/manager/updateStructure.feature
  e2e/features/manager/validateAccount.feature
  e2e/features/manager/viewNotebook.feature
  e2e/step_definitions/fr.js
Due: e2e-prettier, e2e-eslint, check-hasura-version

feat: Remplacement du volet du formulaire "Editer une structure" par une page. (#1418)
  DEMO.md
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/lib/routes/index.ts
  app/src/lib/ui/Deployment/View.svelte
  app/src/lib/ui/StructureEdit/StructureCreationForm.svelte
  app/src/lib/ui/StructureEdit/StructureEditLayer.svelte
  app/src/routes/(auth)/admin/deployment/[uuid]/structures/+page.svelte
  app/src/routes/(auth)/admin/deployment/[uuid]/structures/[structure_id]/+page.svelte
  app/src/routes/(auth)/admin/deployment/[uuid]/structures/[structure_id]/+page.ts
  app/src/routes/(auth)/admin/deployment/_getStructuresForDeployment.gql
  app/src/routes/(auth)/manager/structures/+page.svelte
  app/src/routes/(auth)/manager/structures/[structure_id]/+page.svelte
  app/src/routes/(auth)/manager/structures/[structure_id]/+page.ts
  app/src/routes/(auth)/manager/structures/[structure_id]/_getStructureById.gql
  e2e/features/admin_cdb/add_manager.feature
  e2e/features/admin_cdb/updateStructure.feature
  e2e/features/manager/home.feature
  e2e/features/manager/importBeneficiaires.feature
  e2e/features/manager/importOrientationManager.feature
  e2e/features/manager/importStructures.feature
  e2e/features/manager/onboardingManager.feature
  e2e/features/manager/rattachement.feature
  e2e/features/manager/showListBeneficiairies.feature
  e2e/features/manager/updateStructure.feature
  e2e/features/manager/validateAccount.feature
  e2e/features/manager/viewNotebook.feature
  e2e/step_definitions/fr.js
Due: e2e-prettier, e2e-eslint, check-hasura-version, check-codegen

chore(release): 1.184.0
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  98/c91f38d3723cf6da0a5afd0ee6b5f0dd5d5ec5
Due: check-hasura-version

fix: restrict permission for pro on beneficiaries of the same deployment
  hasura/metadata/databases/carnet_de_bord/tables/public_beneficiary.yaml
Due: check-hasura-version

fix: forbid pro to insert beneficiaries
  hasura/metadata/databases/carnet_de_bord/tables/public_beneficiary.yaml
Due: check-hasura-version

chore: remove useless pyright ignore comment
  backend/api/v1/routers/orientations.py
Due: check-hasura-version

fix: disallow admin structure to change orientation
  backend/api/v1/routers/orientations.py
  backend/tests/api/test_orientations.py
Due: check-hasura-version
