Repository gip-inclusion/carnet-de-bord: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-elm-review, e2e-prettier, e2e-eslint, check-hasura-version

app-elm-review:
  name: run elm-review (app)
  language: system
  pass_filenames: false
  entry: 'bash -c ''yes Y | npm --prefix app run lint:elm-review -- --fix-all'' --
  
    '

e2e-prettier:
  name: run prettier (e2e)
  language: system
  entry: 'bash -c ''npm --prefix e2e  run fix:prettier "${@#*/}"'' --
  
    '

e2e-eslint:
  name: run eslint (e2e)
  language: system
  entry: 'bash -c ''npm --prefix e2e run fix:eslint "${@#*/}"'' --
  
    '

check-hasura-version:
  name: ensure hasura version consistency
  language: system
  pass_filenames: false
  entry: './scripts/check-hasura-version
  
    '

chore: auto-fix des fichiers docker-compose quand on vérifie la version de Hasura
  scripts/check-hasura-version
Due: check-hasura-version

chore: ajout de plus de logs à Hasura en développement
  docker-compose-test.yaml
  docker-compose.yaml
Due: check-hasura-version

chore(app): :rotating_light: ajout de elm-review (#1654)
  .gitignore
  .pre-commit-config.yaml
  app/elm.json
  app/elm/Diagnostic/Main.elm
  app/elm/DiagnosticEdit/Main.elm
  app/elm/Domain/PoleEmploi/GeneralData.elm
  app/elm/Domain/ProfessionalProject.elm
  app/elm/Domain/Theme.elm
  app/elm/NPSRating/Main.elm
  app/elm/OrientationHome/Main.elm
  app/elm/PersonalInfo/Main.elm
  app/package-lock.json
  app/package.json
  app/review/elm.json
  app/review/src/ReviewConfig.elm
  app/review/suppressed/NoUnoptimizedRecursion.json
  app/review/suppressed/NoUnused.CustomTypeConstructors.json
  app/review/suppressed/NoUrlStringConcatenation.json
  app/tests/Diagnostic/MainTests.elm
  app/tests/PersonalInfo/MainTests.elm
Due: app-elm-review, check-hasura-version

chore(release): 1.213.7
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  99/c4ccecd0b2d9eac66eda02f435786ded7b2a5c
Due: check-hasura-version

Fix typo
  docs/adr/20230331.recentrer-l-archi-sur-hasura.md
Due: check-hasura-version

Fix typos
  docs/adr/20230331.recentrer-l-archi-sur-hasura.md
Due: check-hasura-version

doc: Propose an ADR about the importance of Hasura in the software architecture
  docs/adr/20220926.utilisation-graphql-ou-backend.md
  docs/adr/20230331.recentrer-l-archi-sur-hasura.md
  docs/adr/CDB_internal_architecture_current_202304.png
  docs/adr/CDB_internal_architecture_target.png
Due: check-hasura-version

style: fix whitespace errors
  docs/adr/20230331.recentrer-l-archi-sur-hasura.md
Due: check-hasura-version

Apply suggestions from code review
  docs/adr/20230331.recentrer-l-archi-sur-hasura.md
Due: check-hasura-version

Proposé => Accepté
  docs/adr/20230331.recentrer-l-archi-sur-hasura.md
Due: check-hasura-version

typo: fix title of ADR about GraphQL
  docs/adr/20220926.utilisation-graphql-ou-backend.md
Due: check-hasura-version

doc: Proposition d'ADR concernant la place d'Hasura au sein de l'architecture de CDB (#1642)
  docs/adr/20220926.utilisation-graphql-ou-backend.md
  docs/adr/20230331.recentrer-l-archi-sur-hasura.md
  docs/adr/CDB_internal_architecture_current_202304.png
  docs/adr/CDB_internal_architecture_target.png
Due: check-hasura-version

chore(release): 1.213.8
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  a5/000dfa118b6640a76bd056a39af68b20cfa84f
Due: check-hasura-version

chore: Mise à jour de Hasura en version 2.22.0 (#1657)
  DEVELOPING.md
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/lib/graphql/graphql.test.ts
  backend/cdb/api/_gen/schema_gql.py
  backend/cdb/graphql.py
  docker-compose-test.yaml
  docker-compose.yaml
  e2e/codecept.conf.js
  e2e/package.json
  e2e/step_definitions/fixtures.js
  e2e/step_definitions/seed_helper.js
  e2e/step_definitions/steps.js
  hasura/.hasura_version
  scripts/check-hasura-version
  scripts/launch_tests.sh
Due: e2e-prettier, e2e-eslint, check-hasura-version

chore(release): 1.213.9
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  17/6f4a9885c5ffa76419255f884b8043b64095e1
Due: check-hasura-version

Ajout d'impact métier et KPI au modèle d'issues
  .github/ISSUE_TEMPLATE/fonctionnalite.md
Due: check-hasura-version

Ajout d'impact métier et KPI au modèle d'issues (#1650)
  .github/ISSUE_TEMPLATE/fonctionnalite.md
Due: check-hasura-version

chore(release): 1.213.10
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  56/cb4189e38c4f2f56537a58ebbbdb5150b77026
Due: check-hasura-version

fix: ignore unused code in elm Diagnostic
  app/elm/Diagnostic/Main.elm
Due: app-elm-review, check-hasura-version

fix(app): :rotating_light: use elm/url to construct api urls
  app/elm.json
  app/elm/BaseUrl.elm
  app/elm/NPSRating/Main.elm
  app/review/src/ReviewConfig.elm
  app/review/suppressed/NoUrlStringConcatenation.json
  app/src/lib/ui/NPSRating/NPSRating.svelte
  app/src/lib/utils/sentry.ts
  app/src/routes/+layout.svelte
  app/tests/BaseUrl_Tests.elm
  app/tests/Extra/Expect.elm
  app/tests/Extra/Test.elm
Due: app-elm-review, check-hasura-version

chore(app): :rotating_light: add elm-review with some rules and apply
  app/elm/Diagnostic/Main.elm
  app/package-lock.json
Due: app-elm-review, check-hasura-version

🚨 Utilisation de elm/url plutôt que de la concaténation de string (#1663)
  app/elm.json
  app/elm/BaseUrl.elm
  app/elm/NPSRating/Main.elm
  app/package-lock.json
  app/review/src/ReviewConfig.elm
  app/review/suppressed/NoUrlStringConcatenation.json
  app/src/lib/ui/NPSRating/NPSRating.svelte
  app/src/lib/utils/sentry.ts
  app/src/routes/+layout.svelte
  app/tests/BaseUrl_Tests.elm
  app/tests/Extra/Expect.elm
  app/tests/Extra/Test.elm
Due: app-elm-review, check-hasura-version

chore(release): 1.213.11
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  0f/7f27d55f18d523ebfd5659330a6093b8ae12e1
Due: check-hasura-version

fix: search structure by name in the given deployment
  backend/cdb/api/db/crud/beneficiary.py
  backend/cdb/api/db/crud/structure.py
  backend/cdb/api/v1/routers/structures.py
  backend/tests/api/test_structures.py
  backend/tests/test_structure.py
Due: check-hasura-version

fix: require structure to have a deployment_id
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/lib/ui/ProNotebookMember/ProNotebookMembersView.test.ts
  backend/cdb/api/_gen/schema_gql.py
  backend/cdb/api/db/models/structure.py
  backend/tests/test_structure.py
  e2e/features/admin_cdb/updateStructure.feature
  hasura/migrations/carnet_de_bord/1681305548513_alter_table_public_structure_alter_column_deployment_id/down.sql
  hasura/migrations/carnet_de_bord/1681305548513_alter_table_public_structure_alter_column_deployment_id/up.sql
  hasura/seeds/carnet_de_bord/seed-data.sql
Due: check-hasura-version

fix: Vérifier le déploiement lors de la recherche d'une structure par nom. (#1667)
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/lib/ui/ProNotebookMember/ProNotebookMembersView.test.ts
  backend/cdb/api/_gen/schema_gql.py
  backend/cdb/api/db/crud/beneficiary.py
  backend/cdb/api/db/crud/structure.py
  backend/cdb/api/db/models/structure.py
  backend/cdb/api/v1/routers/structures.py
  backend/tests/api/test_structures.py
  backend/tests/test_structure.py
  e2e/features/admin_cdb/updateStructure.feature
  hasura/migrations/carnet_de_bord/1681305548513_alter_table_public_structure_alter_column_deployment_id/down.sql
  hasura/migrations/carnet_de_bord/1681305548513_alter_table_public_structure_alter_column_deployment_id/up.sql
  hasura/seeds/carnet_de_bord/seed-data.sql
Due: check-hasura-version

chore(release): 1.213.12
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  3e/7f6b82fd70a0711def262d59426e65fb586813
Due: check-hasura-version

Revert "chore: Ne pas annuler le déploiement d'une release en cours. (#1617)"
  .github/workflows/deploy.yml
Due: check-hasura-version

Revert "chore: Ne pas annuler le déploiement d'une release en cours." (#1683)
  .github/workflows/deploy.yml
Due: check-hasura-version

chore(release): 1.213.13
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  9e/c2659807f0431ac0481da97db337550f0ce89f
Due: check-hasura-version

refactor: extract a search-select component
  app/doc/Doc.elm
  app/doc/index.css
  app/doc/index.html
  app/elm-book.vite.config.ts
  app/elm.json
  app/elm/Api.elm
  app/elm/Diagnostic/Main.elm
  app/elm/DiagnosticEdit/Main.elm
  app/elm/Domain/ProfessionalProject.elm
  app/elm/Domain/Rome/Rome.elm
  app/elm/Domain/Rome/Select.elm
  app/elm/UI/Attributes.elm
  app/elm/UI/SearchSelect/Component.elm
  app/elm/UI/SearchSelect/Doc.elm
  app/elm/UI/SearchSelect/View.elm
  app/package.json
  app/review/suppressed/NoUnoptimizedRecursion.json
Due: app-elm-review, check-hasura-version

fix: :bug: fix the expanded view in loading/notasked states
  app/elm/UI/SearchSelect/Doc.elm
  app/elm/UI/SearchSelect/View.elm
Due: app-elm-review, check-hasura-version

chore: add elm-format
  app/package-lock.json
  app/package.json
Due: check-hasura-version

Path conditions:
  app-elm-review: any of: ^app/.*\.elm$
  e2e-prettier: any of: ^e2e/.*$ and \.(js|mjs|cjs)$
  e2e-eslint: any of: ^e2e/.*$ and \.(js|mjs|cjs)$
  check-hasura-version: any of: (?x)^(
  docker-compose.yaml|
  docker-compose-test.yaml|
  hasura/.hasura_version|
)

