Repository gip-inclusion/carnet-de-bord: changes, and which pre-commit hooks are due for each by the changed paths.
All: e2e-prettier, e2e-eslint, check-hasura-version, check-codegen

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: quarterly

default_stages: [commit]

default_install_hook_types: [pre-commit, commit-msg]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-case-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: [--target-version=py310]

  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier (app)
        language: system
        files: ^app/.*$
        types_or: [javascript, ts, svelte]
        entry: |
          bash -c 'npm --workspace app --silent run fix:prettier --write "${@#*/}"' --

      - id: app-eslint
        name: run eslint (app)
        language: system
        files: ^app/.*$
        types_or: [javascript, ts, svelte]
        exclude: /_gen/
        entry: |
          bash -c 'npm --workspace app --silent run fix:eslint "${@#*/}"' --

      - id: e2e-prettier
        name: run prettier (e2e)
        language: system
        files: ^e2e/.*$
        types_or: [javascript]
        entry: |
          bash -c 'npm --workspace e2e --silent run fix:prettier "${@#*/}"' --

      - id: e2e-eslint
        name: run eslint (e2e)
        language: system
        files: ^e2e/.*$
        types_or: [javascript]
        entry: |
          bash -c 'npm --workspace e2e --silent run fix:eslint "${@#*/}"' --

      - id: check-hasura-version
        name: ensure hasura version consistency
        language: system
        pass_filenames: false
        files: |
          (?x)^(
            hasura/Dockerfile|
            hasura/.hasura_version|
          )
        entry: |
          ./scripts/check-hasura-version.sh

      - id: check-codegen
        name: check if codegen needs to be ran
        language: system
        pass_filenames: false
        files: ^app/.*\.gql$
        # To determine if codegen needs to be ran, modification and commit dates
        # of all *.gql files and the generated file are computed, and then sorted.
        # For this we use git log and git status commands.
        # The most recent date is kept.
        # Finally, the most recent date shall be the one of the generated file.
        # Otherwise, it means that genereted file has to be re-generated.
        entry: |
          bash -c 'for i in "*.gql" app/src/lib/graphql/_gen/typed-document-nodes.ts;
            do echo $(git log -1 --format=%ct $i) $i;
            git status --porcelain "$i" |cut -c4-|xargs stat -f "%m %N";
          done | sort | tail -1 | grep -F "app/src/lib/graphql/_gen/typed-document-nodes.ts"' --

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: "v8.0.0"
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

chore: remove dummy tests
  app/__tests__/index.test.ts
  app/__tests__/index.ts
  app/src/lib/ui/__tests__/Button.svelte
  app/src/lib/ui/__tests__/button.spec.ts
Due: check-hasura-version

fix(matomo): correct test filename and error variable shadowing
  app/src/routes/actions/matomo_dashboard/+server.ts
  app/src/routes/actions/matomo_dashboard/_matomo_dashboard.test.ts
Due: check-hasura-version

fix: Réparation de l'envoi quotidien des données vers MATOMO. (#1226)
  app/__tests__/annuaire_search.test.ts
  app/__tests__/health.test.ts
  app/__tests__/index.test.ts
  app/__tests__/index.ts
  app/__tests__/triggers/lastVisited.test.ts
  app/__tests__/triggers/notebookEvent.test.ts
  app/package-lock.json
  app/package.json
  app/setupTest.ts
  app/src/lib/ui/__tests__/Button.svelte
  app/src/lib/ui/__tests__/button.spec.ts
  app/src/routes/actions/matomo_dashboard/+server.ts
  app/src/routes/actions/matomo_dashboard/_matomo_dashboard.test.ts
  app/tsconfig.json
  app/vite.config.ts
  scripts/launch_tests.sh
Due: check-hasura-version

chore(release): 1.156.2
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  8c/3cd89faef3ba349858741e916cfe23e33678a1
Due: check-hasura-version

fix: attach stack trace to all loggin errors (#1229)
  backend/api/main.py
  backend/scripts/export_notebook.py
  backend/scripts/parse_csv_pe.py
Due: check-hasura-version

chore(release): 1.156.3
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  de/fe07641cdd8912775f35f19314aea1069a8276
Due: check-hasura-version

chore: fix typo in error message
  app/src/lib/utils/security.ts
Due: check-hasura-version

chore: remove all console.log and console.error
  app/src/lib/config/variables/private.ts
  app/src/lib/emailing/send.ts
  app/src/lib/utils/importFileParser.ts
  app/src/routes/(auth)/+layout.ts
  app/src/routes/(auth)/manager/confirmPro/+server.ts
  app/src/routes/(auth)/manager/sendConnectionEmail/+server.ts
  app/src/routes/(auth)/pro/carnet/invitation/+server.ts
  app/src/routes/(auth)/structures/[uuid]/beneficiaires_en_attente/+server.ts
  app/src/routes/(public)/inscription/request/+server.ts
  app/src/routes/actions/create_deployment/+server.ts
  app/src/routes/auth/jwt/[uuid]/+page.server.ts
  app/src/routes/auth/login/+server.ts
Due: check-hasura-version

chore: remove now useless jest config
  app/jest.config.cjs
Due: check-hasura-version

chore: use console instead of logger client-side
  app/src/lib/utils/importFileParser.ts
  app/src/routes/(auth)/+layout.ts
  app/src/routes/auth/jwt/[uuid]/+page.server.ts
Due: check-hasura-version

chore: rename dotenv import for better understanding
  app/src/hooks.server.ts
Due: check-hasura-version

chore: use consistent case for error message
  app/src/routes/(auth)/manager/sendConnectionEmail/+server.ts
Due: check-hasura-version

chore: add request logging
  app/src/hooks.server.ts
Due: check-hasura-version

chore: add pino and pino-pretty dependecies to have json logging
  app/package-lock.json
  app/package.json
Due: check-hasura-version

chore: use logger instead of console in matomo dashboard action
  app/src/routes/actions/matomo_dashboard/+server.ts
Due: check-hasura-version

chore: add logger with JSON and log level and use it for every server errors
  .env.sample
  app/src/hooks.server.ts
  app/src/lib/utils/logger.ts
Due: check-hasura-version

chore: Ajout d'un logger JSON. (#1227)
  .env.sample
  app/jest.config.cjs
  app/package-lock.json
  app/package.json
  app/src/hooks.server.ts
  app/src/lib/config/variables/private.ts
  app/src/lib/emailing/send.ts
  app/src/lib/utils/logger.ts
  app/src/lib/utils/security.ts
  app/src/routes/(auth)/+layout.ts
  app/src/routes/(auth)/manager/confirmPro/+server.ts
  app/src/routes/(auth)/manager/sendConnectionEmail/+server.ts
  app/src/routes/(auth)/pro/carnet/invitation/+server.ts
  app/src/routes/(auth)/structures/[uuid]/beneficiaires_en_attente/+server.ts
  app/src/routes/(public)/inscription/request/+server.ts
  app/src/routes/actions/create_deployment/+server.ts
  app/src/routes/actions/matomo_dashboard/+server.ts
  app/src/routes/auth/login/+server.ts
Due: check-hasura-version

ci: remove dead Codecept config
  e2e/codecept.conf.js
Due: e2e-prettier, e2e-eslint, check-hasura-version

ci: avoid unnecessary cd in launch_tests.sh
  scripts/launch_tests.sh
Due: check-hasura-version

ci: fix e2e test login by avoiding I.amOnPage
  e2e/step_definitions/steps.js
Due: e2e-prettier, e2e-eslint, check-hasura-version

ci: Corriger l'étape de login dans les tests e2e (#1233)
  e2e/codecept.conf.js
  e2e/step_definitions/steps.js
  scripts/launch_tests.sh
Due: e2e-prettier, e2e-eslint, check-hasura-version

chore: add orientation_requests table
  hasura/metadata/databases/carnet_de_bord/tables/public_orientation_request.yaml
  hasura/metadata/databases/carnet_de_bord/tables/tables.yaml
  hasura/migrations/carnet_de_bord/1666902217239_create_table_public_orientation_request/down.sql
  hasura/migrations/carnet_de_bord/1666902217239_create_table_public_orientation_request/up.sql
Due: check-hasura-version

feat: add orientation_requests in seeds
  hasura/seeds/carnet_de_bord/seed-data.sql
Due: check-hasura-version

chore: use correct role to compute home url
  app/src/routes/(auth)/orientation/+page.svelte
  app/src/routes/(auth)/orientation/demandes/+page.svelte
Due: check-hasura-version

chore: adjust backend test with newer seeds
  backend/tests/api/test_uploads.py
Due: check-hasura-version

feat: add menu item for orientation requests
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/routes/(auth)/orientation/+layout.svelte
  app/src/routes/(auth)/orientation/_getBeneficiariesWithOrientationRequestCount.gql
  app/src/routes/(auth)/orientation/demandes/+page.svelte
  app/src/routes/(auth)/orientation/demandes/_getBeneficiariesWithOrientationRequest.gql
Due: check-hasura-version, check-codegen

chore: correct seed
  hasura/seeds/carnet_de_bord/seed-data.sql
Due: check-hasura-version

chore: update tests account in doc
  DEMO.md
Due: check-hasura-version

chore: add e2e tests when no orientation requests
  e2e/features/orientationManager/orientationRequests.feature
  e2e/step_definitions/steps.js
  hasura/seeds/carnet_de_bord/seed-data.sql
Due: e2e-prettier, e2e-eslint, check-hasura-version

chore: rename feature file
  e2e/features/orientationManager/addOrientationManager.feature
Due: check-hasura-version

feat: add page to display beneficiaries with orientation requests
  app/src/routes/(auth)/orientation/demandes/+page.svelte
Due: check-hasura-version

feat: add gql query to retrieve orientation requests
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/routes/(auth)/orientation/demandes/_getBeneficiariesWithOrientationRequest.gql
Due: check-hasura-version, check-codegen

feat: add permissions on orientation_requests
  hasura/metadata/databases/carnet_de_bord/tables/public_beneficiary.yaml
  hasura/metadata/databases/carnet_de_bord/tables/public_orientation_request.yaml
Due: check-hasura-version

chore: add e2e tests for orientation requests
  app/src/routes/(auth)/orientation/demandes/+page.svelte
  e2e/features/orientationManager/orientationRequests.feature
  e2e/step_definitions/steps.js
Due: e2e-prettier, e2e-eslint, check-hasura-version

chore: Ajout de la page affichant les demandes de réorientations. (#1206)
  DEMO.md
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/routes/(auth)/orientation/+layout.svelte
  app/src/routes/(auth)/orientation/+page.svelte
  app/src/routes/(auth)/orientation/_getBeneficiariesWithOrientationRequestCount.gql
  app/src/routes/(auth)/orientation/demandes/+page.svelte
  app/src/routes/(auth)/orientation/demandes/_getBeneficiariesWithOrientationRequest.gql
  backend/tests/api/test_uploads.py
  e2e/features/orientationManager/addOrientationManager.feature
  e2e/features/orientationManager/orientationRequests.feature
  e2e/step_definitions/steps.js
  hasura/metadata/databases/carnet_de_bord/tables/public_beneficiary.yaml
  hasura/metadata/databases/carnet_de_bord/tables/public_orientation_request.yaml
  hasura/metadata/databases/carnet_de_bord/tables/tables.yaml
  hasura/migrations/carnet_de_bord/1666902217239_create_table_public_orientation_request/down.sql
  hasura/migrations/carnet_de_bord/1666902217239_create_table_public_orientation_request/up.sql
  hasura/seeds/carnet_de_bord/seed-data.sql
Due: e2e-prettier, e2e-eslint, check-hasura-version, check-codegen

chore: add dependencies to convert md to html
  app/package-lock.json
  app/package.json
Due: check-hasura-version

feat: render Changelog as dedicated application page
  app/src/lib/ui/base/Footer.svelte
  app/src/routes/(public)/versions/+layout.svelte
  app/src/routes/(public)/versions/+page.svelte
Due: check-hasura-version

fix: use fs in serverside page
  app/package-lock.json
  app/package.json
  app/src/routes/(public)/versions/+page.server.ts
  app/src/routes/(public)/versions/+page.svelte
  e2e/features/changelog.feature
Due: check-hasura-version
