Repository gip-inclusion/carnet-de-bord: changes, and which pre-commit hooks are due for each by the changed paths.
All: e2e-prettier, e2e-eslint, check-hasura-version, check-codegen

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: quarterly

default_stages: [commit]

default_install_hook_types: [pre-commit, commit-msg]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-case-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: [--target-version=py310]

  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier (app)
        language: system
        files: ^app/.*$
        types_or: [javascript, ts, svelte]
        entry: |
          bash -c 'npm --workspace app --silent run fix:prettier --write "${@#*/}"' --

      - id: app-eslint
        name: run eslint (app)
        language: system
        files: ^app/.*$
        types_or: [javascript, ts, svelte]
        exclude: /_gen/
        entry: |
          bash -c 'npm --workspace app --silent run fix:eslint "${@#*/}"' --

      - id: e2e-prettier
        name: run prettier (e2e)
        language: system
        files: ^e2e/.*$
        types_or: [javascript]
        entry: |
          bash -c 'npm --workspace e2e --silent run fix:prettier "${@#*/}"' --

      - id: e2e-eslint
        name: run eslint (e2e)
        language: system
        files: ^e2e/.*$
        types_or: [javascript]
        entry: |
          bash -c 'npm --workspace e2e --silent run fix:eslint "${@#*/}"' --

      - id: check-hasura-version
        name: ensure hasura version consistency
        language: system
        pass_filenames: false
        files: |
          (?x)^(
            hasura/Dockerfile|
            hasura/.hasura_version|
          )
        entry: |
          ./scripts/check-hasura-version.sh

      - id: check-codegen
        name: check if codegen needs to be ran
        language: system
        pass_filenames: false
        files: ^app/.*\.gql$
        # To determine if codegen needs to be ran, modification and commit dates
        # of all *.gql files and the generated file are computed, and then sorted.
        # For this we use git log and git status commands.
        # The most recent date is kept.
        # Finally, the most recent date shall be the one of the generated file.
        # Otherwise, it means that genereted file has to be re-generated.
        entry: |
          bash -c 'for i in "*.gql" app/src/lib/graphql/_gen/typed-document-nodes.ts;
            do echo $(git log -1 --format=%ct $i) $i;
            git status --porcelain "$i" |cut -c4-|xargs stat -f "%m %N";
          done | sort | tail -1 | grep -F "app/src/lib/graphql/_gen/typed-document-nodes.ts"' --

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: "v8.0.0"
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

chore: fix linter issue
  app/src/lib/ui/BeneficiaryList/Container.svelte
Due: check-hasura-version

fix: afficher seulement les bénéficiaires de la structure avec l'option tous (#1381)
  app/src/lib/ui/BeneficiaryList/Container.svelte
  app/src/routes/(auth)/structures/[uuid]/+page.svelte
  e2e/features/structureAdmin/beneficiary_list.feature
  e2e/features/structureAdmin/dashboard.feature
  e2e/features/structureAdmin/rattachementBeneficiaires.feature
  e2e/features/structureAdmin/viewNotebook.feature
  e2e/step_definitions/steps.js
Due: e2e-prettier, e2e-eslint, check-hasura-version

chore(release): 1.178.3
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  ef/2c949b4168e83dda9d7aa6636999da45178f9c
Due: check-hasura-version

fix: update beneficiary count
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/lib/ui/BeneficiaryList/Container.svelte
  app/src/routes/(auth)/structures/+page.svelte
  app/src/routes/(auth)/structures/_getStructures.gql
  docker-compose-test.yaml
  docker-compose.yaml
  hasura/metadata/databases/carnet_de_bord/tables/public_structure.yaml
  hasura/migrations/carnet_de_bord/1672749193531_add_structure_beneficiary_count/down.sql
  hasura/migrations/carnet_de_bord/1672749193531_add_structure_beneficiary_count/up.sql
  hasura/seeds/carnet_de_bord/seed-data.sql
Due: check-hasura-version, check-codegen

fix: update beneficiary count
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/lib/ui/AdminStructure/StructureList.svelte
  app/src/routes/(auth)/structures/+page.svelte
  app/src/routes/(auth)/structures/_getStructures.gql
  app/src/routes/actions/matomo_dashboard/_getDeploymentStats.gql
  backend/api/_gen/schema_gql.py
  hasura/metadata/databases/carnet_de_bord/tables/public_notebook.yaml
  hasura/metadata/databases/carnet_de_bord/tables/public_structure.yaml
  hasura/migrations/carnet_de_bord/1672749193531_add_structure_beneficiary_count/up.sql
Due: check-hasura-version, check-codegen

chore: Remove extra space
  hasura/migrations/carnet_de_bord/1672749193531_add_structure_beneficiary_count/up.sql
Due: check-hasura-version

fix: ajustement du décompte des bénéficiaires sur les tuiles structures (#1387)
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/lib/ui/AdminStructure/StructureList.svelte
  app/src/lib/ui/BeneficiaryList/Container.svelte
  app/src/routes/(auth)/structures/+page.svelte
  app/src/routes/(auth)/structures/_getStructures.gql
  app/src/routes/actions/matomo_dashboard/_getDeploymentStats.gql
  backend/api/_gen/schema_gql.py
  docker-compose-test.yaml
  docker-compose.yaml
  hasura/metadata/databases/carnet_de_bord/tables/public_notebook.yaml
  hasura/metadata/databases/carnet_de_bord/tables/public_structure.yaml
  hasura/migrations/carnet_de_bord/1672749193531_add_structure_beneficiary_count/down.sql
  hasura/migrations/carnet_de_bord/1672749193531_add_structure_beneficiary_count/up.sql
  hasura/seeds/carnet_de_bord/seed-data.sql
Due: check-hasura-version, check-codegen

chore(release): 1.178.4
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  61/760ad71b98d29aa240f9872da46d536bc4ede2
Due: check-hasura-version

chore(release): 1.178.5
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  02/44d85987d7116fac2ffb2cd21ce7ed439e341b
Due: check-hasura-version

chore(release): 1.178.6
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  69/23eb38deec969c1987606a88bd79f1407dc6e4
Due: check-hasura-version

chore(release): 1.178.7
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  c0/375ae71111e8d13eda36754372184825f3eef1
Due: check-hasura-version

fix: linting
  app/src/lib/ui/BeneficiaryList/ProSearchResults.svelte
  app/src/routes/(auth)/pro/+page.svelte
Due: check-hasura-version

Update query
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/routes/(auth)/pro/+page.svelte
  app/src/routes/(auth)/pro/_query.gql
Due: check-hasura-version, check-codegen

fix: better array copy
  app/src/routes/(auth)/pro/+page.svelte
Due: check-hasura-version

fix: types for gql query
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/lib/ui/BeneficiaryList/ProSearchResults.svelte
  app/src/routes/(auth)/pro/_query.gql
Due: check-hasura-version, check-codegen

test: check detail page
  e2e/features/pro/accueil/accueil.feature
Due: check-hasura-version

refactor: rename table matchers
  app/src/lib/ui/BeneficiaryList/ProSearchResults.svelte
  e2e/features/admin_cdb/add_manager.feature
  e2e/features/manager/importBeneficiaires.feature
  e2e/features/manager/showListBeneficiairies.feature
  e2e/features/manager/showListProfessionals.feature
  e2e/features/manager/validateAccount.feature
  e2e/features/orientationManager/filterBeneficiary.feature
  e2e/features/pro/accueil/accueil.feature
  e2e/features/pro/carnet/members.feature
  e2e/features/pro/login.feature
  e2e/features/structureAdmin/beneficiary_list.feature
  e2e/step_definitions/steps.js
Due: e2e-prettier, e2e-eslint, check-hasura-version

feat: ajout de la liste de ses bénéficaires sur la page d'accueil d'un pro (#1401)
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/lib/ui/BeneficiaryList/ProSearchResults.svelte
  app/src/routes/(auth)/pro/+page.svelte
  app/src/routes/(auth)/pro/_query.gql
  e2e/features/admin_cdb/add_manager.feature
  e2e/features/manager/importBeneficiaires.feature
  e2e/features/manager/showListBeneficiairies.feature
  e2e/features/manager/showListProfessionals.feature
  e2e/features/manager/validateAccount.feature
  e2e/features/orientationManager/filterBeneficiary.feature
  e2e/features/pro/accueil/accueil.feature
  e2e/features/pro/carnet/members.feature
  e2e/features/pro/login.feature
  e2e/features/structureAdmin/beneficiary_list.feature
  e2e/step_definitions/steps.js
Due: e2e-prettier, e2e-eslint, check-hasura-version, check-codegen

chore(release): 1.179.0
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  23/c774ea70f7d7aeca11684774be2b0e48b9332a
Due: check-hasura-version

feat: add new focus theme
  app/src/lib/constants/keys.ts
  hasura/migrations/carnet_de_bord/1672741051729_migrate-add-numerique-theme/down.sql
  hasura/migrations/carnet_de_bord/1672741051729_migrate-add-numerique-theme/up.sql
Due: check-hasura-version

feat: add targets for numerique theme
  hasura/migrations/carnet_de_bord/1672741051729_migrate-add-numerique-theme/down.sql
  hasura/migrations/carnet_de_bord/1672741051729_migrate-add-numerique-theme/up.sql
Due: check-hasura-version

fix: replace quote in descriptions
  hasura/migrations/carnet_de_bord/1672741051729_migrate-add-numerique-theme/down.sql
  hasura/migrations/carnet_de_bord/1672741051729_migrate-add-numerique-theme/up.sql
Due: check-hasura-version

feat: Ajout d'un thème d'axe d'amélioration: numerique (#1400)
  app/src/lib/constants/keys.ts
  hasura/migrations/carnet_de_bord/1672741051729_migrate-add-numerique-theme/down.sql
  hasura/migrations/carnet_de_bord/1672741051729_migrate-add-numerique-theme/up.sql
Due: check-hasura-version

chore(release): 1.180.0
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  de/fa8441b10e6730de5a58ca4d96ebabc0916285
Due: check-hasura-version

chore: fix indent in generated gql file for backend
  backend/api/_gen/schema_gql.py
  backend/scripts/codegen.sh
Due: check-hasura-version

chore: Correction de l'indentation dans le schéma GQL généré (backend). (#1409)
  backend/api/_gen/schema_gql.py
  backend/scripts/codegen.sh
Due: check-hasura-version

chore(release): 1.180.1
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  78/53f5ecc0d1e3574b22ff6e3a53ee3fd09df24d
Due: check-hasura-version

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
Due: check-hasura-version

fix: add a migration to update missing membership_ended_at dates
  hasura/migrations/carnet_de_bord/1672870195818_set_membership_ended_at_for_deleted_account/down.sql
  hasura/migrations/carnet_de_bord/1672870195818_set_membership_ended_at_for_deleted_account/up.sql
Due: check-hasura-version

fix: set membership_ended_at when deleting account
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/lib/ui/ProfessionalList/_deleteAccount.gql
Due: check-hasura-version, check-codegen

fix: Enregistrer la date de fin de suivi lors de la suppression d'un compte. (#1410)
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/lib/ui/ProfessionalList/_deleteAccount.gql
  hasura/migrations/carnet_de_bord/1672870195818_set_membership_ended_at_for_deleted_account/down.sql
  hasura/migrations/carnet_de_bord/1672870195818_set_membership_ended_at_for_deleted_account/up.sql
Due: check-hasura-version, check-codegen

chore(release): 1.180.2
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version
