Repository gip-inclusion/carnet-de-bord: changes, and which pre-commit hooks are due for each by the changed paths.
All: e2e-prettier, e2e-eslint, check-hasura-version, check-codegen

e2e-prettier:
  name: run prettier (e2e)
  language: system
  entry: 'bash -c ''npm --workspace e2e --silent run fix:prettier "${@#*/}"'' --
  
    '

e2e-eslint:
  name: run eslint (e2e)
  language: system
  entry: 'bash -c ''npm --workspace e2e --silent run fix:eslint "${@#*/}"'' --
  
    '

check-hasura-version:
  name: ensure hasura version consistency
  language: system
  pass_filenames: false
  entry: './scripts/check-hasura-version.sh
  
    '

check-codegen:
  name: check if codegen needs to be ran
  language: system
  pass_filenames: false
  ...

chore(release): 1.191.0
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  41/b5edcb2068f893c4e4b31c9685bf9ec0fbfa15
Due: check-hasura-version

fix: only display detach button for pro
  app/src/lib/ui/ProNotebookMember/ProNotebookMembersView.svelte
Due: check-hasura-version

chore: add unit test
  app/src/lib/ui/ProNotebookMember/ProNotebookMembersView.test.ts
Due: check-hasura-version

fix: affichage du bouton se détacher uniquement pour les pros (#1486)
  app/src/lib/ui/ProNotebookMember/ProNotebookMembersView.svelte
  app/src/lib/ui/ProNotebookMember/ProNotebookMembersView.test.ts
Due: check-hasura-version

chore(release): 1.191.1
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  d9/c35a230252d02ceded4419606de6974008b4a7
Due: check-hasura-version

fix: set orientation request default status to pending
  e2e/features/pro/carnet/reorientation.feature
  hasura/metadata/databases/carnet_de_bord/tables/public_orientation_request.yaml
  hasura/migrations/carnet_de_bord/1675255129484_alter_table_public_orientation_request_alter_column_status/down.sql
  hasura/migrations/carnet_de_bord/1675255129484_alter_table_public_orientation_request_alter_column_status/up.sql
Due: check-hasura-version

fix: Ne pas afficher le bouton "Demander une réorientation" si une demande et déjà en cours. (#1487)
  e2e/features/pro/carnet/reorientation.feature
  hasura/metadata/databases/carnet_de_bord/tables/public_orientation_request.yaml
  hasura/migrations/carnet_de_bord/1675255129484_alter_table_public_orientation_request_alter_column_status/down.sql
  hasura/migrations/carnet_de_bord/1675255129484_alter_table_public_orientation_request_alter_column_status/up.sql
Due: check-hasura-version

chore(release): 1.191.2
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  2b/1285b04d1b1e9b63acff012da06cc6f43818af
Due: check-hasura-version

refactor: filtre des structures et des pros
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/lib/ui/OrientationManager/OrientationForm.svelte
  app/src/lib/ui/OrientationManager/getOrientationSystemsForDeployment.gql
  e2e/features/manager/home.feature
  e2e/features/manager/rattachement.feature
  e2e/features/orientationManager/changeBeneficiaryOrientation.feature
  e2e/features/orientationManager/manageOrientationRequest.feature
  e2e/features/orientationManager/rattachement.feature
Due: check-hasura-version, check-codegen

feat: allow edition of orientation systems per structure by manager
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/lib/ui/StructureEdit/StructureCreationForm.svelte
  app/src/lib/ui/StructureEdit/StructureEditLayer.svelte
  app/src/lib/ui/StructureEdit/updateStructure.gql
  app/src/lib/ui/StructureList/StructureList.svelte
  app/src/lib/utils/getOrientationSystemLabel.ts
  app/src/routes/(auth)/admin/deployment/[uuid]/structures/[structure_id]/+page.svelte
  app/src/routes/(auth)/admin/deployment/_getStructuresForDeployment.gql
  app/src/routes/(auth)/manager/structures/[structure_id]/+page.svelte
  app/src/routes/(auth)/manager/structures/[structure_id]/_getStructureById.gql
  e2e/features/admin_cdb/updateStructure.feature
  e2e/features/manager/updateStructure.feature
  hasura/metadata/databases/carnet_de_bord/tables/public_orientation_system.yaml
  hasura/metadata/databases/carnet_de_bord/tables/public_structure_orientation_system.yaml
Due: check-hasura-version, check-codegen

chore: simplify retrieving deployment orientation systems
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/lib/ui/StructureEdit/StructureEditLayer.svelte
  app/src/routes/(auth)/admin/deployment/[uuid]/structures/[structure_id]/+page.svelte
  app/src/routes/(auth)/manager/structures/[structure_id]/+page.svelte
  app/src/routes/(auth)/manager/structures/[structure_id]/_getStructureById.gql
Due: check-hasura-version, check-codegen

fix: update permissions and gql for admin_cdb
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/routes/(auth)/manager/structures/[structure_id]/_getStructureById.gql
  hasura/metadata/databases/carnet_de_bord/tables/public_orientation_system.yaml
  hasura/metadata/databases/carnet_de_bord/tables/public_professional_orientation_system.yaml
Due: check-hasura-version, check-codegen

chore: change wording
  app/src/lib/ui/ProfessionalList/EditProfessionalAccountLayer.svelte
  app/src/lib/ui/StructureEdit/StructureCreationForm.svelte
  app/src/lib/ui/StructureList/StructureList.svelte
  e2e/features/admin_cdb/updateStructure.feature
  e2e/features/manager/updateStructure.feature
  e2e/features/structureAdmin/edit_professional.feature
Due: check-hasura-version

chore: add e2e tests for orientation systems edition
  e2e/features/admin_cdb/updateStructure.feature
  e2e/features/manager/updateStructure.feature
  e2e/step_definitions/steps.js
  hasura/seeds/carnet_de_bord/seed-data.sql
Due: e2e-prettier, e2e-eslint, check-hasura-version

feat: delete deselected orientation systems of structure in professional too
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/lib/ui/StructureEdit/StructureEditLayer.svelte
  app/src/lib/ui/StructureEdit/updateStructure.gql
  hasura/metadata/databases/carnet_de_bord/tables/public_professional_orientation_system.yaml
Due: check-hasura-version, check-codegen

chore: simplify displaying orientation and pro
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/lib/ui/OrientationManager/OrientationForm.svelte
  app/src/lib/ui/OrientationManager/_getProfessionalsForDeployment.gql
Due: check-hasura-version, check-codegen

feat: display orientation systems of the deployment
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/lib/ui/OrientationManager/OrientationForm.svelte
  app/src/lib/ui/OrientationManager/_getProfessionalsForDeployment.gql
Due: check-hasura-version, check-codegen

chore: improve e2e test
  e2e/features/admin_cdb/updateStructure.feature
Due: check-hasura-version

feat: Permettre l'administration des dispositifs d'accompagnement par structure (gestionnaire de territoire). (#1480)
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/lib/ui/OrientationManager/OrientationForm.svelte
  app/src/lib/ui/OrientationManager/_getProfessionalsForDeployment.gql
  app/src/lib/ui/OrientationManager/getOrientationSystemsForDeployment.gql
  app/src/lib/ui/ProfessionalList/EditProfessionalAccountLayer.svelte
  app/src/lib/ui/StructureEdit/StructureCreationForm.svelte
  app/src/lib/ui/StructureEdit/StructureEditLayer.svelte
  app/src/lib/ui/StructureEdit/updateStructure.gql
  app/src/lib/ui/StructureList/StructureList.svelte
  app/src/lib/utils/getOrientationSystemLabel.ts
  app/src/routes/(auth)/admin/deployment/_getStructuresForDeployment.gql
  app/src/routes/(auth)/manager/structures/[structure_id]/_getStructureById.gql
  e2e/features/admin_cdb/updateStructure.feature
  e2e/features/manager/home.feature
  e2e/features/manager/rattachement.feature
  e2e/features/manager/updateStructure.feature
  e2e/features/orientationManager/changeBeneficiaryOrientation.feature
  e2e/features/orientationManager/manageOrientationRequest.feature
  e2e/features/orientationManager/rattachement.feature
  e2e/features/structureAdmin/edit_professional.feature
  e2e/step_definitions/steps.js
  hasura/metadata/databases/carnet_de_bord/tables/public_orientation_system.yaml
  hasura/metadata/databases/carnet_de_bord/tables/public_professional_orientation_system.yaml
  hasura/metadata/databases/carnet_de_bord/tables/public_structure_orientation_system.yaml
  hasura/seeds/carnet_de_bord/seed-data.sql
Due: e2e-prettier, e2e-eslint, check-hasura-version, check-codegen

chore(release): 1.192.0
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  cb/8ced31c2dcd27aa1b9c734ccb148109d92d950
Due: check-hasura-version

chore(release): 1.192.1
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  c6/05a21ffdb7f6f07fd7ffbc8cdd2af65117390d
Due: check-hasura-version

chore(release): 1.192.2
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  08/bd76af3da994eb44491e0a8711b503c4cd5bc5
Due: check-hasura-version

fix: count only notebook where pro is referent
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/lib/ui/ProfessionalList/_getProfessionalsForStructure.gql
  e2e/features/structureAdmin/edit_professional.feature
Due: check-hasura-version, check-codegen

fix: La pastille du nombre de bénéficiaires suivis est fausse (#1496)
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/lib/ui/ProfessionalList/_getProfessionalsForStructure.gql
  e2e/features/structureAdmin/edit_professional.feature
Due: check-hasura-version, check-codegen

chore(release): 1.192.3
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  75/e5bae03bbf001dd3ef91520d6ff83ac0c778c7
Due: check-hasura-version

fix: do not show Orienter button for admin structure
  app/src/lib/ui/OrientationHeader/OrientationHeader.svelte
  app/src/lib/ui/OrientationHeader/OrientationHeader.test.ts
Due: check-hasura-version

fix: Ne pas afficher le bouton "Orienter"/"Réorienter" pour les administrateurs de structure. (#1495)
  app/src/lib/ui/OrientationHeader/OrientationHeader.svelte
  app/src/lib/ui/OrientationHeader/OrientationHeader.test.ts
Due: check-hasura-version

chore(release): 1.192.4
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  e1/b53c0e6ec7164fbf0d8272010d659051d32215
Due: check-hasura-version

refactor: remove dupicate title
  app/elm/Diagnostic/Main.elm
  app/src/lib/ui/OrientationManager/NotebookEdit.svelte
  app/src/lib/ui/views/NotebookView.svelte
  app/src/routes/(auth)/pro/carnet/[uuid]/+page.svelte
Due: check-hasura-version

chore: proper document script parameters
  scripts/launch_tests.sh
Due: check-hasura-version

refactor: suppression du code dupliqué pour l'affichage des infos sociopro
  app/src/lib/ui/Beneficiary/SocioProView.svelte
  app/src/lib/ui/ProNotebookSocioPro/ProNotebookSocioProView.svelte
Due: check-hasura-version

feat: ajout du diagnostic professionnel
  app/elm.json
  app/elm/BeneficiaryApp/GqlJson.elm
  app/elm/BeneficiaryApp/Main.elm
  app/elm/BeneficiaryApp/Main.elm.d.ts
  app/elm/BeneficiaryApp/Notebook.elm
  app/elm/Diagnostic/Main.elm
  app/elm/Diagnostic/Main.elm.d.ts
  app/elm/Domain/ProfessionalProject.elm
  app/elm/Domain/SituationPro.elm
  app/elm/MainApp/Main.elm.d.ts
  app/elm/OrientationHome/Main.elm.d.ts
  app/elm/README.md
  app/src/lib/ui/Beneficiary/SocioProView.svelte
  app/src/routes/(auth)/orientation/+page.svelte
  app/src/routes/(auth)/pro/carnet/[uuid]/+page.svelte
Due: check-hasura-version

Path conditions:
  e2e-prettier: any of: ^e2e/.*$ and \.(js|mjs|cjs)$
  e2e-eslint: any of: ^e2e/.*$ and \.(js|mjs|cjs)$
  check-hasura-version: any of: (?x)^(
  hasura/Dockerfile|
  hasura/.hasura_version|
)

  check-codegen: any of: ^app/.*\.gql$
