Repository gip-inclusion/carnet-de-bord: changes, and which pre-commit hooks are due for each by the changed paths.
All: app-elm-compile, app-elm-review, e2e-prettier, e2e-eslint, check-hasura-version

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: quarterly

default_stages: [commit]

default_install_hook_types: [pre-commit, commit-msg]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-case-conflict
      - id: check-yaml
      - id: end-of-file-fixer
        exclude: (excalidraw|CdbGQL|schema\.graphql)
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: /__snapshots__/

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.257
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: [--target-version=py310]

  - repo: local
    hooks:
      - id: no-commit-on-main-branch
        name: no direct commit on main branch
        language: system
        always_run: true
        entry: |
          ./scripts/no-commit-on-main-branch.sh

      - id: app-prettier
        name: run prettier (app)
        language: system
        files: ^app/.*$
        types_or: [javascript, ts, svelte]
        entry: |
          bash -c 'npm --prefix app run fix:prettier --write "${@#*/}"' --

      - id: app-check
        name: run svelte-check (app)
        language: system
        files: ^app/.*$
        types_or: [javascript, ts, svelte]
        pass_filenames: false
        entry: |
          bash -c 'npm --prefix app run check' --

      - id: app-eslint
        name: run eslint (app)
        language: system
        files: ^app/.*$
        types_or: [javascript, ts, svelte]
        exclude: /_gen/
        entry: |
          bash -c 'npm --prefix app run fix:eslint "${@#*/}"' --

      - id: app-elm-compile
        name: run elm make on all Main.elm
        language: system
        files: ^app/.*\.elm$
        pass_filenames: false
        entry: |
          ./scripts/all-elm-compiles.sh


      - id: app-elm-review
        name: run elm-review (app)
        language: system
        files: ^app/.*\.elm$
        pass_filenames: false
        entry: |
          bash -c 'yes Y | npm --prefix app run lint:elm-review -- --fix-all' --

      - id: e2e-prettier
        name: run prettier (e2e)
        language: system
        files: ^e2e/.*$
        types_or: [javascript]
        entry: |
          bash -c 'npm --prefix e2e  run fix:prettier "${@#*/}"' --

      - id: e2e-eslint
        name: run eslint (e2e)
        language: system
        files: ^e2e/.*$
        types_or: [javascript]
        entry: |
          bash -c 'npm --prefix e2e run fix:eslint "${@#*/}"' --

      - id: check-hasura-version
        name: ensure hasura version consistency
        language: system
        pass_filenames: false
        files: |
          (?x)^(
            docker-compose.yaml|
            docker-compose-test.yaml|
            hasura/.hasura_version|
          )
        entry: |
          ./scripts/check-hasura-version

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: "v8.0.0"
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

chore: replace syrupy with approvaltests
  backend/tests/api/test_refresh_situations.py
  backend/tests/api/test_refresh_situations.test_saves_the_new_contraintes_into_external_data.approved.json
  backend/tests/caf_msa/test_parse_infos_foyer.py
  backend/tests/caf_msa/test_parse_infos_foyer.test_parse_caf_file.approved.json
  backend/tests/test_pe_api_client.py
  backend/tests/test_pe_api_client.test_get_contraintes.approved.json
  backend/tests/utils/approvaltests.py
Due: check-hasura-version

fix: corrige le sens du filtre des situations supprimées
  app/elm/Diagnostic/GetSituationsByNotebookId.gql
Due: check-hasura-version

refactor: inline pe_scope
  .env.test.sample
  backend/cdb/api/core/settings.py
  backend/cdb/api/v1/routers/refresh_situations.py
  backend/cdb/cdb_csv/pe.py
  backend/cdb/pe/settings.py
  backend/cdb/scripts/pe_api.py
  backend/tests/test_pe_csv_import.py
Due: check-hasura-version

chore: remove pe api info
  backend/cdb/api/core/settings.py
Due: check-hasura-version

chore(release): 1.232.0
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  19/360516b61001f25d918beed25683877571ccc5
Due: check-hasura-version

feat: allow duplicate actions
  e2e/features/orientationManager/carnet/focus.feature
  hasura/migrations/carnet_de_bord/1687180495589_alter_table_public_notebook_action_drop_constraint_notebook_action_target_id_action_key/down.sql
  hasura/migrations/carnet_de_bord/1687180495589_alter_table_public_notebook_action_drop_constraint_notebook_action_target_id_action_key/up.sql
Due: check-hasura-version

fix: add matcher for e2e tests
  e2e/features/orientationManager/carnet/focus.feature
  e2e/step_definitions/steps.js
Due: e2e-prettier, e2e-eslint, check-hasura-version

feat: Permettre l'ajout d'actions en double (#1836)
  e2e/features/orientationManager/carnet/focus.feature
  e2e/step_definitions/steps.js
  hasura/migrations/carnet_de_bord/1687180495589_alter_table_public_notebook_action_drop_constraint_notebook_action_target_id_action_key/down.sql
  hasura/migrations/carnet_de_bord/1687180495589_alter_table_public_notebook_action_drop_constraint_notebook_action_target_id_action_key/up.sql
Due: e2e-prettier, e2e-eslint, check-hasura-version

chore(release): 1.233.0
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  ed/480ca4378b066229235adcebcf4c6732726851
Due: check-hasura-version

fix: remise de la date par default apres soumission
  app/elm/Pages/Pro/Carnet/Action/List/AddForm.elm
Due: app-elm-compile, app-elm-review, check-hasura-version

feat(action): ajoute la date de début d'action
  app/elm/Effect.elm
  app/elm/Pages/Pro/Carnet/Action/List/AddForm.elm
  app/tests/Pages/Pro/Carnet/Action/List/AddForm_Tests.elm
Due: app-elm-compile, app-elm-review, check-hasura-version

test: fix test
  app/tests/Pages/Pro/Carnet/Action/List/AddForm_Tests.elm
Due: app-elm-compile, app-elm-review, check-hasura-version

chore(action): add a test
  app/tests/Pages/Pro/Carnet/Action/List/AddForm_Tests.elm
Due: app-elm-compile, app-elm-review, check-hasura-version

feat: ajoute la date du jour à la creation d'une action
  app/elm/Effect.elm
  app/elm/Pages/Pro/Carnet/Action/List/AddForm.elm
Due: app-elm-compile, app-elm-review, check-hasura-version

feat: initialise la date de début de l'action à la date du jour (#1837)
  app/elm/Effect.elm
  app/elm/Pages/Pro/Carnet/Action/List/AddForm.elm
  app/tests/Pages/Pro/Carnet/Action/List/AddForm_Tests.elm
Due: app-elm-compile, app-elm-review, check-hasura-version

chore(release): 1.234.0
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  cb/3e6b0dd0773b06fc282085ebc61b3ef8641ecf
Due: check-hasura-version

fix: typo clot -> clos
  app/elm/Domain/BeneficiaryRights.elm
  app/elm/RsaRightNotice/Main.elm
Due: app-elm-compile, app-elm-review, check-hasura-version

fix: typo clot -> clos (#1839)
  app/elm/Domain/BeneficiaryRights.elm
  app/elm/RsaRightNotice/Main.elm
Due: app-elm-compile, app-elm-review, check-hasura-version

chore(release): 1.234.1
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  2e/d51d0d44e1483d1b4b95e7967e4373fc119227
Due: check-hasura-version

chore: add svelte build back
  scripts/launch_tests.sh
Due: check-hasura-version

chore: attempt to bypass csp
  e2e/.eslintignore
  e2e/.eslintrc.cjs
  e2e/.prettierignore
  e2e/.prettierrc
  e2e/codecept.conf.ts
  e2e/package-lock.json
  e2e/package.json
  e2e/step_definitions/csp.js
Due: e2e-prettier, e2e-eslint, check-hasura-version

ci: ne pas abandonner un déploiement en cours
  .github/workflows/deploy_demo.yml
  .github/workflows/deploy_production.yml
Due: check-hasura-version

ci: ne pas abandonner un déploiement en cours (#1843)
  .github/workflows/deploy_demo.yml
  .github/workflows/deploy_production.yml
Due: check-hasura-version

chore(release): 1.234.2
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  92/552cdc8f08543d8f54b5459db92f98a415bf9f
Due: check-hasura-version

fix: corrige les mentions légales
  app/src/routes/(public)/mentions-legales/+page.svelte
Due: check-hasura-version

fix: corrige les mentions légales (#1840)
  app/src/routes/(public)/mentions-legales/+page.svelte
Due: check-hasura-version

chore(release): 1.234.3
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  bd/ef3a9de91d8f614f565d21859bee6c0633aa85
Due: check-hasura-version

feat: methode pour enregistrer les contraintes PE
  backend/cdb/pe/models/contrainte.py
  backend/cdb/pe/pole_emploi_client.py
  backend/tests/test_pe_api_client.py
Due: check-hasura-version

fix: permettre le refus du sondage NPS
  app/elm/NPSRating/GraphQL.gql
  e2e/features/orientationManager/nps_rating.feature
Due: check-hasura-version

fix: permettre le refus du sondage NPS (#1848)
  app/elm/NPSRating/GraphQL.gql
  e2e/features/orientationManager/nps_rating.feature
Due: check-hasura-version
