Repository gip-inclusion/carnet-de-bord: changes, and which pre-commit hooks are due for each by the changed paths.
All: e2e-prettier, e2e-eslint, check-hasura-version, check-codegen

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: quarterly

default_stages: [commit]

default_install_hook_types: [pre-commit, commit-msg]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-case-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: [--target-version=py310]

  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier (app)
        language: system
        files: ^app/.*$
        types_or: [javascript, ts, svelte]
        entry: |
          bash -c 'npm --workspace app --silent run fix:prettier --write "${@#*/}"' --

      - id: app-eslint
        name: run eslint (app)
        language: system
        files: ^app/.*$
        types_or: [javascript, ts, svelte]
        exclude: /_gen/
        entry: |
          bash -c 'npm --workspace app --silent run fix:eslint "${@#*/}"' --

      - id: e2e-prettier
        name: run prettier (e2e)
        language: system
        files: ^e2e/.*$
        types_or: [javascript]
        entry: |
          bash -c 'npm --workspace e2e --silent run fix:prettier "${@#*/}"' --

      - id: e2e-eslint
        name: run eslint (e2e)
        language: system
        files: ^e2e/.*$
        types_or: [javascript]
        entry: |
          bash -c 'npm --workspace e2e --silent run fix:eslint "${@#*/}"' --

      - id: check-hasura-version
        name: ensure hasura version consistency
        language: system
        pass_filenames: false
        files: |
          (?x)^(
            hasura/Dockerfile|
            hasura/.hasura_version|
          )
        entry: |
          ./scripts/check-hasura-version.sh

      - id: check-codegen
        name: check if codegen needs to be ran
        language: system
        pass_filenames: false
        files: ^app/.*\.gql$
        # To determine if codegen needs to be ran, modification and commit dates
        # of all *.gql files and the generated file are computed, and then sorted.
        # For this we use git log and git status commands.
        # The most recent date is kept.
        # Finally, the most recent date shall be the one of the generated file.
        # Otherwise, it means that genereted file has to be re-generated.
        entry: |
          bash -c 'for i in "*.gql" app/src/lib/graphql/_gen/typed-document-nodes.ts;
            do echo $(git log -1 --format=%ct $i) $i;
            git status --porcelain "$i" |cut -c4-|xargs stat -f "%m %N";
          done | sort | tail -1 | grep -F "app/src/lib/graphql/_gen/typed-document-nodes.ts"' --

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: "v8.0.0"
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

feat: Ajout du formulaire de mise à jour de la situation personnelle. (#1528)
  app/__tests__/triggers/lastVisited.test.ts
  app/elm.json
  app/elm/Diagnostic/Main.elm
  app/elm/DiagnosticEdit/Main.elm
  app/elm/DiagnosticEdit/Main.elm.d.ts
  app/elm/DiagnosticEdit/MainTests.elm
  app/elm/Domain/Situation.elm
  app/elm/Domain/Theme.elm
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/lib/ui/Diagnostic/DiagnosticEdit.svelte
  app/src/lib/ui/ProNotebookSocioPro/ProNotebookSocioProUpdate.svelte
  app/src/lib/ui/ProNotebookSocioPro/_UpdateSocioPro.gql
  app/src/routes/(auth)/orientation/carnets/edition/[notebook_id]/diagnostic/+page.svelte
  app/src/routes/(auth)/pro/carnet/[uuid]/diagnostic/+page.svelte
  app/src/routes/(auth)/pro/carnet/_getNotebook.gql
  app/src/routes/+page.svelte
  e2e/features/pro/carnet/sociopro.feature
Due: check-hasura-version, check-codegen

chore(release): 1.199.0
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  aa/41960c50ca9bb11cd54ce69047f2769141d7d5
Due: check-hasura-version

feat: add migration to convert geographical_area from enum to integer
  hasura/migrations/carnet_de_bord/1676995035581_change_geographical_area_to_int/down.sql
  hasura/migrations/carnet_de_bord/1676995035581_change_geographical_area_to_int/up.sql
Due: check-hasura-version

feat: adapt UI and backend with geographical_area as a free field
  app/__tests__/triggers/lastVisited.test.ts
  app/elm/Diagnostic/Main.elm
  app/elm/Diagnostic/Main.elm.d.ts
  app/elm/Domain/ProfessionalSituation.elm
  app/src/lib/constants/keys.ts
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/lib/ui/ProNotebookSocioPro/ProNotebookSocioPro.schema.ts
  app/src/lib/ui/ProNotebookSocioPro/ProNotebookSocioProUpdate.svelte
  app/src/lib/ui/ProNotebookSocioPro/_UpdateSocioPro.gql
  app/static/fichiers/import_beneficiaires.csv
  backend/cdb/api/db/models/beneficiary.py
  backend/cdb/api/db/models/notebook.py
  backend/cdb/api/db/models/out.py
  backend/tests/api/test_import_beneficiaries.py
  backend/tests/conftest.py
  backend/tests/export_notebook.json
  backend/tests/fixtures/import_beneficiaires.csv
  backend/tests/fixtures/import_beneficiaires_buggy.csv
  backend/tests/fixtures/import_beneficiaires_with_all_date_formats.csv
  backend/tests/test_beneficiary.py
  backend/tests/test_notebook.py
  e2e/resources/import_beneficiaires.csv
  e2e/resources/import_beneficiaires_buggy.csv
  e2e/resources/import_beneficiaires_with_all_date_formats.csv
  e2e/resources/re_import_beneficiaires.csv
  hasura/seeds/carnet_de_bord/seed-data.sql
Due: check-hasura-version, check-codegen

chore: add e2e test
  app/src/lib/ui/ProNotebookSocioPro/ProNotebookSocioProUpdate.svelte
  e2e/features/pro/carnet/sociopro.feature
  e2e/step_definitions/steps.js
Due: e2e-prettier, e2e-eslint, check-hasura-version

chore: allow 0km value
  app/src/lib/ui/ProNotebookSocioPro/ProNotebookSocioPro.schema.ts
Due: check-hasura-version

docs: miseà jour de la notice de remplissage
  app/src/lib/ui/Manager/ImportBeneficiaries.svelte
  e2e/features/manager/importBeneficiaires.feature
Due: check-hasura-version

feat: Utilisation d'un champ libre pour renseigner la zone de mobilité géographique. (#1543)
  app/__tests__/triggers/lastVisited.test.ts
  app/elm/Diagnostic/Main.elm
  app/elm/Diagnostic/Main.elm.d.ts
  app/elm/Domain/ProfessionalSituation.elm
  app/src/lib/constants/keys.ts
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/lib/ui/Manager/ImportBeneficiaries.svelte
  app/src/lib/ui/ProNotebookSocioPro/ProNotebookSocioPro.schema.ts
  app/src/lib/ui/ProNotebookSocioPro/ProNotebookSocioProUpdate.svelte
  app/src/lib/ui/ProNotebookSocioPro/_UpdateSocioPro.gql
  app/static/fichiers/import_beneficiaires.csv
  backend/cdb/api/db/models/beneficiary.py
  backend/cdb/api/db/models/notebook.py
  backend/cdb/api/db/models/out.py
  backend/tests/api/test_import_beneficiaries.py
  backend/tests/conftest.py
  backend/tests/export_notebook.json
  backend/tests/fixtures/import_beneficiaires.csv
  backend/tests/fixtures/import_beneficiaires_buggy.csv
  backend/tests/fixtures/import_beneficiaires_with_all_date_formats.csv
  backend/tests/test_beneficiary.py
  backend/tests/test_notebook.py
  e2e/features/manager/importBeneficiaires.feature
  e2e/features/pro/carnet/sociopro.feature
  e2e/resources/import_beneficiaires.csv
  e2e/resources/import_beneficiaires_buggy.csv
  e2e/resources/import_beneficiaires_with_all_date_formats.csv
  e2e/resources/re_import_beneficiaires.csv
  e2e/step_definitions/steps.js
  hasura/migrations/carnet_de_bord/1676995035581_change_geographical_area_to_int/down.sql
  hasura/migrations/carnet_de_bord/1676995035581_change_geographical_area_to_int/up.sql
  hasura/seeds/carnet_de_bord/seed-data.sql
Due: e2e-prettier, e2e-eslint, check-hasura-version, check-codegen

chore(release): 1.200.0
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  d3/82afb50b8a45932896ddc06930f2454878458a
Due: check-hasura-version

fix: ne pas modifier la structure de suivi en cas de rattachement en tant que no-referent
  backend/cdb/api/v1/routers/notebooks.py
  backend/tests/api/test_notebooks.py
Due: check-hasura-version

fix: ne pas modifier la structure de suivi en cas de rattachement en tant que no-referent (#1552)
  backend/cdb/api/v1/routers/notebooks.py
  backend/tests/api/test_notebooks.py
Due: check-hasura-version

chore(release): 1.200.1
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  51/31cceb79a2b0810c661b47b0fc6fb3a0d795c3
Due: check-hasura-version

chore: use path for command that use docker file
  scripts/launch_tests.sh
Due: check-hasura-version

refactor: renomme la table wanted_job en professional_project
  app/__tests__/triggers/lastVisited.test.ts
  app/elm/Diagnostic/Main.elm
  app/elm/Diagnostic/Main.elm.d.ts
  app/elm/Domain/ProfessionalProject.elm
  app/elm/Domain/ProfessionalSituation.elm
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/lib/ui/Beneficiary/SocioProView.svelte
  app/src/lib/ui/Diagnostic/DiagnosticEdit.svelte
  app/src/lib/ui/OrientationHeader/OrientationHeader.test.ts
  app/src/lib/ui/ProNotebookSocioPro/ProNotebookSocioProROME.svelte
  app/src/lib/ui/ProNotebookSocioPro/ProNotebookSocioProUpdate.svelte
  app/src/lib/ui/ProNotebookSocioPro/_UpdateSocioPro.gql
  app/src/routes/(auth)/beneficiaire/_getNotebookByBeneficiaryId.gql
  app/src/routes/(auth)/orientation/carnets/edition/[notebook_id]/+page.svelte
  app/src/routes/(auth)/pro/carnet/_getNotebook.gql
  backend/cdb/api/db/crud/beneficiary.py
  backend/cdb/api/db/crud/notebook.py
  backend/cdb/api/db/crud/out.py
  backend/cdb/api/db/crud/professional_project.py
  backend/cdb/api/db/models/notebook.py
  backend/cdb/api/db/models/out.py
  backend/cdb/api/db/models/professional_project.py
  backend/cdb/api/v1/routers/beneficiaries.py
  backend/cdb/cdb_csv/pe.py
  backend/tests/api/test_import_beneficiaries.py
  backend/tests/export_notebook.json
  backend/tests/test_beneficiary.py
  backend/tests/test_pe_csv_import.py
  hasura/metadata/databases/carnet_de_bord/tables/public_notebook.yaml
  hasura/metadata/databases/carnet_de_bord/tables/public_professional_project.yaml
  hasura/metadata/databases/carnet_de_bord/tables/public_rome_code.yaml
  hasura/metadata/databases/carnet_de_bord/tables/tables.yaml
  hasura/migrations/carnet_de_bord/1677140195658_rename_table_public_wanted_job/down.sql
  hasura/migrations/carnet_de_bord/1677140195658_rename_table_public_wanted_job/up.sql
  hasura/seeds/carnet_de_bord/seed-data.sql
Due: check-hasura-version, check-codegen

refactor: renomme la table wanted_job en professional_project (#1549)
  app/__tests__/triggers/lastVisited.test.ts
  app/elm/Diagnostic/Main.elm
  app/elm/Diagnostic/Main.elm.d.ts
  app/elm/Domain/ProfessionalProject.elm
  app/elm/Domain/ProfessionalSituation.elm
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/lib/ui/Beneficiary/SocioProView.svelte
  app/src/lib/ui/Diagnostic/DiagnosticEdit.svelte
  app/src/lib/ui/OrientationHeader/OrientationHeader.test.ts
  app/src/lib/ui/ProNotebookSocioPro/ProNotebookSocioProROME.svelte
  app/src/lib/ui/ProNotebookSocioPro/ProNotebookSocioProUpdate.svelte
  app/src/lib/ui/ProNotebookSocioPro/_UpdateSocioPro.gql
  app/src/routes/(auth)/beneficiaire/_getNotebookByBeneficiaryId.gql
  app/src/routes/(auth)/orientation/carnets/edition/[notebook_id]/+page.svelte
  app/src/routes/(auth)/pro/carnet/_getNotebook.gql
  backend/cdb/api/db/crud/beneficiary.py
  backend/cdb/api/db/crud/notebook.py
  backend/cdb/api/db/crud/out.py
  backend/cdb/api/db/crud/professional_project.py
  backend/cdb/api/db/models/notebook.py
  backend/cdb/api/db/models/out.py
  backend/cdb/api/db/models/professional_project.py
  backend/cdb/api/v1/routers/beneficiaries.py
  backend/cdb/cdb_csv/pe.py
  backend/tests/api/test_import_beneficiaries.py
  backend/tests/export_notebook.json
  backend/tests/test_beneficiary.py
  backend/tests/test_pe_csv_import.py
  hasura/metadata/databases/carnet_de_bord/tables/public_notebook.yaml
  hasura/metadata/databases/carnet_de_bord/tables/public_professional_project.yaml
  hasura/metadata/databases/carnet_de_bord/tables/public_rome_code.yaml
  hasura/metadata/databases/carnet_de_bord/tables/tables.yaml
  hasura/migrations/carnet_de_bord/1677140195658_rename_table_public_wanted_job/down.sql
  hasura/migrations/carnet_de_bord/1677140195658_rename_table_public_wanted_job/up.sql
  hasura/seeds/carnet_de_bord/seed-data.sql
  scripts/launch_tests.sh
Due: check-hasura-version, check-codegen

chore(release): 1.200.2
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  68/047b5e18c4006763363a09508ff7b2574c89c4
Due: check-hasura-version

chore: remove dead code
  e2e/step_definitions/steps.js
Due: e2e-prettier, e2e-eslint, check-hasura-version

feat: remove situations display and form in notebook focus UI
  app/__tests__/triggers/lastVisited.test.ts
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/lib/ui/ProNotebookFocus/ProNotebookFocusCreate.svelte
  app/src/lib/ui/ProNotebookFocus/ProNotebookFocusDetails.svelte
  app/src/lib/ui/ProNotebookFocus/ProNotebookFocusUpdate.svelte
  app/src/lib/ui/ProNotebookFocus/ProNotebookFocusView.svelte
  app/src/lib/ui/ProNotebookFocus/_addNotebookFocus.gql
  app/src/lib/ui/ProNotebookFocus/_getNotebookFocusById.gql
  app/src/lib/ui/ProNotebookFocus/_getRefSituation.gql
  app/src/lib/ui/ProNotebookFocus/_getRefSituationByTheme.gql
  app/src/lib/ui/ProNotebookFocus/_updateNotebookFocus.gql
  app/src/lib/ui/ProNotebookFocus/focusOptionsBuilder.ts
  e2e/features/orientationManager/carnet/focus.feature
  e2e/features/pro/carnet/focuses.feature
Due: check-hasura-version, check-codegen

feat: Suppression des situations dans les axes de travail. (#1547)
  app/__tests__/triggers/lastVisited.test.ts
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/lib/ui/ProNotebookFocus/ProNotebookFocusCreate.svelte
  app/src/lib/ui/ProNotebookFocus/ProNotebookFocusDetails.svelte
  app/src/lib/ui/ProNotebookFocus/ProNotebookFocusUpdate.svelte
  app/src/lib/ui/ProNotebookFocus/ProNotebookFocusView.svelte
  app/src/lib/ui/ProNotebookFocus/_addNotebookFocus.gql
  app/src/lib/ui/ProNotebookFocus/_getNotebookFocusById.gql
  app/src/lib/ui/ProNotebookFocus/_getRefSituation.gql
  app/src/lib/ui/ProNotebookFocus/_getRefSituationByTheme.gql
  app/src/lib/ui/ProNotebookFocus/_updateNotebookFocus.gql
  app/src/lib/ui/ProNotebookFocus/focusOptionsBuilder.ts
  e2e/features/orientationManager/carnet/focus.feature
  e2e/features/pro/carnet/focuses.feature
  e2e/step_definitions/steps.js
Due: e2e-prettier, e2e-eslint, check-hasura-version, check-codegen

chore(release): 1.201.0
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  e1/7eb2d8a5c9c0269d237a7d7f23563ef5898b19
Due: check-hasura-version

chore(release): 1.201.1
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  1a/2996353ba97afad93c400dbb66ebe6fb5ee7b9
Due: check-hasura-version

fix: creation d'un axe de travail sans situation
  app/elm/Diagnostic/Main.elm
  e2e/features/pro/carnet/focuses.feature
Due: check-hasura-version

fix: creation d'un axe de travail sans situation (#1566)
  app/elm/Diagnostic/Main.elm
  e2e/features/pro/carnet/focuses.feature
Due: check-hasura-version

chore(release): 1.201.2
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  38/1003c979ba2958d7d335ea2f34b84cd702dfb5
Due: check-hasura-version

Revert "build(deps): bump undici from 5.11.0 to 5.20.0 in /app (#1542)"
  app/package-lock.json
Due: check-hasura-version

Revert "build(deps): bump undici from 5.11.0 to 5.20.0 in /app (#1542)" (#1567)
  app/package-lock.json
Due: check-hasura-version

chore(release): 1.201.3
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  8a/75433898e4fd21e1e5fa289b61dc50ff4fcf1c
Due: check-hasura-version

fix(manager): mise à jour de la liste bénéficiaires et du dashboard
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/lib/ui/BeneficiaryList/SupportFilters.svelte
  app/src/lib/ui/BeneficiaryList/supportFilter.schema.ts
  app/src/routes/(auth)/manager/+page.svelte
  app/src/routes/(auth)/manager/_getDeploymentInfo.gql
  app/src/routes/(auth)/manager/beneficiaires/+page.svelte
  app/src/routes/(auth)/manager/beneficiaires/+page.ts
  e2e/features/manager/home.feature
Due: check-hasura-version, check-codegen

fix(manager): mise à jour de la liste bénéficiaires et du dashboard (#1537)
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/lib/ui/BeneficiaryList/SupportFilters.svelte
  app/src/lib/ui/BeneficiaryList/supportFilter.schema.ts
  app/src/routes/(auth)/manager/+page.svelte
  app/src/routes/(auth)/manager/_getDeploymentInfo.gql
  app/src/routes/(auth)/manager/beneficiaires/+page.svelte
  app/src/routes/(auth)/manager/beneficiaires/+page.ts
  e2e/features/manager/home.feature
Due: check-hasura-version, check-codegen

chore(release): 1.201.4
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  41/941626d50c6814b2f6c0f45eab8cf0ed845414
Due: check-hasura-version

chore: remove situations column from permissions
  hasura/metadata/databases/carnet_de_bord/tables/public_notebook_focus.yaml
Due: check-hasura-version
