Repository gip-inclusion/carnet-de-bord: changes, and which pre-commit hooks are due for each by the changed paths.
All: e2e-prettier, e2e-eslint, check-hasura-version, check-codegen

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: quarterly

default_stages: [commit]

default_install_hook_types: [pre-commit, commit-msg]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-case-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: [--target-version=py310]

  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort

  - repo: local
    hooks:
      - id: app-prettier
        name: run prettier (app)
        language: system
        files: ^app/.*$
        types_or: [javascript, ts, svelte]
        entry: |
          bash -c 'npm --workspace app --silent run fix:prettier --write "${@#*/}"' --

      - id: app-eslint
        name: run eslint (app)
        language: system
        files: ^app/.*$
        types_or: [javascript, ts, svelte]
        exclude: /_gen/
        entry: |
          bash -c 'npm --workspace app --silent run fix:eslint "${@#*/}"' --

      - id: e2e-prettier
        name: run prettier (e2e)
        language: system
        files: ^e2e/.*$
        types_or: [javascript]
        entry: |
          bash -c 'npm --workspace e2e --silent run fix:prettier "${@#*/}"' --

      - id: e2e-eslint
        name: run eslint (e2e)
        language: system
        files: ^e2e/.*$
        types_or: [javascript]
        entry: |
          bash -c 'npm --workspace e2e --silent run fix:eslint "${@#*/}"' --

      - id: check-hasura-version
        name: ensure hasura version consistency
        language: system
        pass_filenames: false
        files: |
          (?x)^(
            hasura/Dockerfile|
            hasura/.hasura_version|
          )
        entry: |
          ./scripts/check-hasura-version.sh

      - id: check-codegen
        name: check if codegen needs to be ran
        language: system
        pass_filenames: false
        files: ^app/.*\.gql$
        # To determine if codegen needs to be ran, modification and commit dates
        # of all *.gql files and the generated file are computed, and then sorted.
        # For this we use git log and git status commands.
        # The most recent date is kept.
        # Finally, the most recent date shall be the one of the generated file.
        # Otherwise, it means that genereted file has to be re-generated.
        entry: |
          bash -c 'for i in "*.gql" app/src/lib/graphql/_gen/typed-document-nodes.ts;
            do echo $(git log -1 --format=%ct $i) $i;
            git status --porcelain "$i" |cut -c4-|xargs stat -f "%m %N";
          done | sort | tail -1 | grep -F "app/src/lib/graphql/_gen/typed-document-nodes.ts"' --

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: "v8.0.0"
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

chore: group situations by theme
  app/elm/Diagnostic/Main.elm
  app/elm/DiagnosticEdit/Main.elm
Due: check-hasura-version

fix: remove reference to removed situations field
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/routes/(auth)/beneficiaire/_getNotebookByBeneficiaryId.gql
Due: check-hasura-version, check-codegen

refactor: read and display notebook_situation instead of notebook_focus
  app/elm/Diagnostic/Main.elm
  app/elm/Diagnostic/Main.elm.d.ts
  app/src/lib/ui/Beneficiary/SocioProView.svelte
  app/src/lib/ui/OrientationManager/NotebookEdit.svelte
  app/src/lib/ui/ProNotebookSocioPro/ProNotebookSocioProView.svelte
  app/src/lib/ui/views/NotebookView.svelte
  app/src/routes/(auth)/beneficiaire/_getNotebookByBeneficiaryId.gql
  app/src/routes/(auth)/pro/carnet/[uuid]/+page.svelte
  app/src/routes/(auth)/pro/carnet/_getNotebook.gql
Due: check-hasura-version, check-codegen

fix: correct ref_situation permission
  app/src/lib/ui/views/NotebookView.svelte
  hasura/metadata/databases/carnet_de_bord/tables/public_ref_situation.yaml
Due: check-hasura-version

chore: remove unused import
  app/elm/DiagnosticEdit/Main.elm
Due: check-hasura-version

chore: restrict update and select situations for notebook members
  hasura/metadata/databases/carnet_de_bord/tables/public_notebook_situation.yaml
Due: check-hasura-version

fix: correct notebook_situation permission
  hasura/metadata/databases/carnet_de_bord/tables/public_notebook_situation.yaml
Due: check-hasura-version

refactor: extract situation from notebook_focus table to its own table
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/lib/ui/OrientationHeader/OrientationHeader.test.ts
  hasura/metadata/databases/carnet_de_bord/tables/public_notebook.yaml
  hasura/metadata/databases/carnet_de_bord/tables/public_notebook_situation.yaml
  hasura/metadata/databases/carnet_de_bord/tables/tables.yaml
  hasura/migrations/carnet_de_bord/1677098994655_create_table_public_notebook_situation/down.sql
  hasura/migrations/carnet_de_bord/1677098994655_create_table_public_notebook_situation/up.sql
  hasura/seeds/carnet_de_bord/seed-data.sql
Due: check-hasura-version

refactor: store and update situations in notebook_situations
  app/elm/DiagnosticEdit/Main.elm
  app/elm/DiagnosticEdit/Main.elm.d.ts
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/lib/ui/Diagnostic/DiagnosticEdit.svelte
  app/src/lib/ui/ProNotebookSocioPro/ProNotebookSocioProUpdate.svelte
  app/src/lib/ui/ProNotebookSocioPro/_UpdateSocioPro.gql
  app/src/routes/(auth)/pro/carnet/_getNotebook.gql
  backend/cdb/api/db/models/focus.py
  hasura/migrations/carnet_de_bord/1677098994655_create_table_public_notebook_situation/up.sql
  hasura/seeds/carnet_de_bord/seed-data.sql
Due: check-hasura-version, check-codegen

chore: adapt functional test
  app/__tests__/triggers/lastVisited.test.ts
Due: check-hasura-version

chore: adapt backend tests
  backend/cdb/api/db/crud/notebook.py
  backend/cdb/api/db/crud/out.py
  backend/cdb/api/db/models/out.py
  backend/tests/export_notebook.json
  backend/tests/migrations/test_1655740534831_update_referentiel_v2.py
Due: check-hasura-version

chore: remove deprecated test
  app/elm/DiagnosticEdit/MainTests.elm
Due: check-hasura-version

refactor: Déplacement des situations de chaque notebook dans une table dédiée. (#1554)
  app/__tests__/triggers/lastVisited.test.ts
  app/elm/Diagnostic/Main.elm
  app/elm/Diagnostic/Main.elm.d.ts
  app/elm/DiagnosticEdit/Main.elm
  app/elm/DiagnosticEdit/Main.elm.d.ts
  app/elm/DiagnosticEdit/MainTests.elm
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/lib/ui/Beneficiary/SocioProView.svelte
  app/src/lib/ui/Diagnostic/DiagnosticEdit.svelte
  app/src/lib/ui/OrientationHeader/OrientationHeader.test.ts
  app/src/lib/ui/OrientationManager/NotebookEdit.svelte
  app/src/lib/ui/ProNotebookSocioPro/ProNotebookSocioProUpdate.svelte
  app/src/lib/ui/ProNotebookSocioPro/ProNotebookSocioProView.svelte
  app/src/lib/ui/ProNotebookSocioPro/_UpdateSocioPro.gql
  app/src/lib/ui/views/NotebookView.svelte
  app/src/routes/(auth)/beneficiaire/_getNotebookByBeneficiaryId.gql
  app/src/routes/(auth)/pro/carnet/[uuid]/+page.svelte
  app/src/routes/(auth)/pro/carnet/_getNotebook.gql
  backend/cdb/api/db/crud/notebook.py
  backend/cdb/api/db/crud/out.py
  backend/cdb/api/db/models/focus.py
  backend/cdb/api/db/models/out.py
  backend/tests/export_notebook.json
  backend/tests/migrations/test_1655740534831_update_referentiel_v2.py
  hasura/metadata/databases/carnet_de_bord/tables/public_notebook.yaml
  hasura/metadata/databases/carnet_de_bord/tables/public_notebook_focus.yaml
  hasura/metadata/databases/carnet_de_bord/tables/public_notebook_situation.yaml
  hasura/metadata/databases/carnet_de_bord/tables/public_ref_situation.yaml
  hasura/metadata/databases/carnet_de_bord/tables/tables.yaml
  hasura/migrations/carnet_de_bord/1677098994655_create_table_public_notebook_situation/down.sql
  hasura/migrations/carnet_de_bord/1677098994655_create_table_public_notebook_situation/up.sql
  hasura/seeds/carnet_de_bord/seed-data.sql
Due: check-hasura-version, check-codegen

chore(release): 1.201.5
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  24/c5f064d41642aee14096505984d52679e95e4e
Due: check-hasura-version

chore: remove references to maildev
  DEVELOPING.md
  app/src/lib/emailing/send.ts
  backend/cdb/api/core/sendmail.py
Due: check-hasura-version

chore: retirer les références à maildev (#1568)
  DEVELOPING.md
  app/src/lib/emailing/send.ts
  backend/cdb/api/core/sendmail.py
Due: check-hasura-version

chore(release): 1.201.6
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  89/b41327c3103931b46ef5f1a61c7e3ff8cd4ef8
Due: check-hasura-version

fix: typo in DEVELOPING and INSTALL
  INSTALL.md
Due: check-hasura-version

chore: typo dans INSTALL (#1565)
  INSTALL.md
Due: check-hasura-version

chore(release): 1.201.7
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  37/c33fd6341dd6149242228b772d7e04d231d4dd
Due: check-hasura-version

feat: show a placeholder when personal situation is empty
  app/elm/Diagnostic/Main.elm
Due: check-hasura-version

feat: afficher un placeholder quand la situation personnelle est vide (#1572)
  app/elm/Diagnostic/Main.elm
Due: check-hasura-version

chore(release): 1.202.0
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  d1/adc642d1cd77c3ca1c7429fc54e34899d5b070
Due: check-hasura-version

chore: add documentation for testing
  INSTALL.md
  TESTING.md
  backend/README.md
  e2e/README.md
Due: check-hasura-version

chore: ajouter de la documentation pour les tests (#1573)
  INSTALL.md
  TESTING.md
  backend/README.md
  e2e/README.md
Due: check-hasura-version

chore(release): 1.202.1
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  52/7df3296dfc43f24fa2dd0f4b4d79dc472d82e6
Due: check-hasura-version

feat: do not display orientation requests that have been managed
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/lib/ui/ProNotebookFocus/ProNotebookFocusUpdate.svelte
  app/src/routes/(auth)/orientation/beneficiaires/getBeneficiariesWithOrientationRequest.gql
  e2e/features/orientationManager/orientationRequestsList.feature
  e2e/step_definitions/steps.js
Due: e2e-prettier, e2e-eslint, check-hasura-version, check-codegen

feat: Ne pas afficher les demandes de réorientation traitées. (#1574)
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/lib/ui/ProNotebookFocus/ProNotebookFocusUpdate.svelte
  app/src/routes/(auth)/orientation/beneficiaires/getBeneficiariesWithOrientationRequest.gql
  e2e/features/orientationManager/orientationRequestsList.feature
  e2e/step_definitions/steps.js
Due: e2e-prettier, e2e-eslint, check-hasura-version, check-codegen

chore(release): 1.203.0
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  99/b76e06eca82b824f79a2684581683ed57648ea
Due: check-hasura-version

chore: fix type issue
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/lib/ui/ProNotebookSocioPro/_UpdateSocioPro.gql
  app/src/routes/(auth)/beneficiaire/_getNotebookByBeneficiaryId.gql
  app/src/routes/(auth)/pro/carnet/_getNotebook.gql
Due: check-hasura-version, check-codegen

feat: add deleted_at and deleted_by columns to soft delete situations
  hasura/metadata/databases/carnet_de_bord/tables/public_notebook_situation.yaml
  hasura/migrations/carnet_de_bord/1677550512224_add-deleted-columns-on-notebook-situation/down.sql
  hasura/migrations/carnet_de_bord/1677550512224_add-deleted-columns-on-notebook-situation/up.sql
Due: check-hasura-version

fixup! feat: add deleted_at and deleted_by columns to soft delete situations
  hasura/migrations/carnet_de_bord/1677550512224_add-deleted-columns-on-notebook-situation/down.sql
  hasura/migrations/carnet_de_bord/1677550512224_add-deleted-columns-on-notebook-situation/up.sql
Due: check-hasura-version

feat: Historiser les changements de situations d'un bénéficiaire (#1570)
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/lib/ui/ProNotebookSocioPro/_UpdateSocioPro.gql
  app/src/routes/(auth)/beneficiaire/_getNotebookByBeneficiaryId.gql
  app/src/routes/(auth)/pro/carnet/_getNotebook.gql
  hasura/metadata/databases/carnet_de_bord/tables/public_notebook_situation.yaml
  hasura/migrations/carnet_de_bord/1677550512224_add-deleted-columns-on-notebook-situation/down.sql
  hasura/migrations/carnet_de_bord/1677550512224_add-deleted-columns-on-notebook-situation/up.sql
Due: check-hasura-version, check-codegen

chore(release): 1.204.0
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version
