Repository gip-inclusion/carnet-de-bord: changes, and which pre-commit hooks are due for each by the changed paths.
All: e2e-prettier, e2e-eslint, check-hasura-version, check-codegen

e2e-prettier:
  name: run prettier (e2e)
  language: system
  entry: 'bash -c ''npm --workspace e2e --silent run fix:prettier "${@#*/}"'' --
  
    '

e2e-eslint:
  name: run eslint (e2e)
  language: system
  entry: 'bash -c ''npm --workspace e2e --silent run fix:eslint "${@#*/}"'' --
  
    '

check-hasura-version:
  name: ensure hasura version consistency
  language: system
  pass_filenames: false
  entry: './scripts/check-hasura-version.sh
  
    '

check-codegen:
  name: check if codegen needs to be ran
  language: system
  pass_filenames: false
  ...

chore: changement du nom de domaine (#1583)
  CODE_OF_CONDUCT.md
  DEMO.md
  DEPLOY.md
  README.md
  app/src/global.d.ts
  app/src/lib/chat/Crisp.svelte
  app/src/lib/constants.ts
  app/src/routes/(public)/politique-confidentialite/+page.svelte
  app/static/fichiers/import_structures.csv
  app/svelte.config.js
  backend/cdb/api/core/settings.py
  backend/tests/fixtures/import_structures.csv
  backend/tests/fixtures/import_structures_buggy.csv
  backend/tests/fixtures/import_structures_missing_key.csv
  e2e/features/admin_cdb/add_manager.feature
  e2e/features/admin_cdb/deploiement.feature
  e2e/features/admin_cdb/remove_manager.feature
  e2e/features/admin_cdb/updateStructure.feature
  e2e/features/manager/editOrientationSystems.feature
  e2e/features/manager/home.feature
  e2e/features/manager/importBeneficiaires.feature
  e2e/features/manager/importOrientationManager.feature
  e2e/features/manager/importStructures.feature
  e2e/features/manager/onboardingManager.feature
  e2e/features/manager/rattachement.feature
  e2e/features/manager/showListBeneficiairies.feature
  e2e/features/manager/updateStructure.feature
  e2e/features/manager/validateAccount.feature
  e2e/features/manager/viewNotebook.feature
  e2e/integration/manager/orientationImport.js
  e2e/resources/import_structures.csv
  hasura/seeds/carnet_de_bord/seed-data.sql
Due: e2e-prettier, e2e-eslint, check-hasura-version

chore(release): 1.206.3
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  0d/6c4027dde641e7b1da690528c7c511bad9a70e
Due: check-hasura-version

chore: update per LIB advice, thanks!
  app/elm/NPSRating/Main.elm
  hasura/migrations/carnet_de_bord/1678120606346_create_table_public_nps_rating/down.sql
  hasura/migrations/carnet_de_bord/1678120606346_create_table_public_nps_rating/up.sql
  hasura/migrations/carnet_de_bord/1678120606346_nps_rating/down.sql
  hasura/migrations/carnet_de_bord/1678120606346_nps_rating/up.sql
  hasura/migrations/carnet_de_bord/1678292963020_create_table_public_nps_rating_dismissal/down.sql
  hasura/migrations/carnet_de_bord/1678292963020_create_table_public_nps_rating_dismissal/up.sql
  hasura/migrations/carnet_de_bord/1678371110667_create_nps_rating_dismissal_dismissed_at_posix/down.sql
  hasura/migrations/carnet_de_bord/1678371110667_create_nps_rating_dismissal_dismissed_at_posix/up.sql
  hasura/migrations/carnet_de_bord/1678371142125_nps_rating_created_at_posix/down.sql
  hasura/migrations/carnet_de_bord/1678371142125_nps_rating_created_at_posix/up.sql
Due: check-hasura-version

chore: fix tests
  app/elm/NPSRating/Main.elm
  backend/tests/api/test_nps_rating.py
  backend/tests/conftest.py
  e2e/features/orientationManager/nps_rating.feature
  hasura/seeds/carnet_de_bord/seed-data.sql
Due: check-hasura-version

fix: validation formulaire incorrecte
  app/elm/NPSRating/Main.elm
Due: check-hasura-version

chore: rename scoreButton to scoreRadio
  app/elm/NPSRating/Main.elm
Due: check-hasura-version

feat: ajout d’une modale pour le NPS
  app/elm/NPSRating/Main.elm
  app/elm/NPSRating/Main.elm.d.ts
  app/src/lib/ui/NPSRating/NPSRating.svelte
  app/src/lib/ui/NPSRating/index.ts
  app/src/routes/(auth)/admin/+layout.svelte
  app/src/routes/(auth)/manager/+layout.svelte
  app/src/routes/(auth)/orientation/+layout.svelte
  app/src/routes/(auth)/pro/+layout.svelte
  backend/cdb/api/v1/main.py
  backend/cdb/api/v1/routers/nps_rating.py
  backend/tests/api/test_nps_rating.py
  e2e/features/orientationManager/nps_rating.feature
  e2e/step_definitions/steps.js
  hasura/metadata/databases/carnet_de_bord/tables/public_nps_rating.yaml
  hasura/metadata/databases/carnet_de_bord/tables/public_nps_rating_dismissal.yaml
  hasura/metadata/databases/carnet_de_bord/tables/tables.yaml
  hasura/migrations/carnet_de_bord/1678120606346_create_table_public_nps_rating/down.sql
  hasura/migrations/carnet_de_bord/1678120606346_create_table_public_nps_rating/up.sql
  hasura/migrations/carnet_de_bord/1678292963020_create_table_public_nps_rating_dismissal/down.sql
  hasura/migrations/carnet_de_bord/1678292963020_create_table_public_nps_rating_dismissal/up.sql
  hasura/migrations/carnet_de_bord/1678371110667_create_nps_rating_dismissal_dismissed_at_posix/down.sql
  hasura/migrations/carnet_de_bord/1678371110667_create_nps_rating_dismissal_dismissed_at_posix/up.sql
  hasura/migrations/carnet_de_bord/1678371142125_nps_rating_created_at_posix/down.sql
  hasura/migrations/carnet_de_bord/1678371142125_nps_rating_created_at_posix/up.sql
Due: e2e-prettier, e2e-eslint, check-hasura-version

chore: syntax update and refinements, thanks GUL!
  app/elm/NPSRating/Main.elm
  backend/cdb/api/db/crud/nps_rating.py
  backend/cdb/api/v1/routers/nps_rating.py
  backend/tests/api/test_nps_rating.py
Due: check-hasura-version

Revert "fix: validation formulaire incorrecte"
  app/elm/NPSRating/Main.elm
Due: check-hasura-version

feat: ajout d’une modale pour le NPS (#1591)
  app/elm/NPSRating/Main.elm
  app/elm/NPSRating/Main.elm.d.ts
  app/src/lib/ui/NPSRating/NPSRating.svelte
  app/src/lib/ui/NPSRating/index.ts
  app/src/routes/(auth)/admin/+layout.svelte
  app/src/routes/(auth)/manager/+layout.svelte
  app/src/routes/(auth)/orientation/+layout.svelte
  app/src/routes/(auth)/pro/+layout.svelte
  backend/cdb/api/db/crud/nps_rating.py
  backend/cdb/api/v1/main.py
  backend/cdb/api/v1/routers/nps_rating.py
  backend/tests/api/test_nps_rating.py
  backend/tests/conftest.py
  e2e/features/orientationManager/nps_rating.feature
  e2e/step_definitions/steps.js
  hasura/metadata/databases/carnet_de_bord/tables/public_nps_rating.yaml
  hasura/metadata/databases/carnet_de_bord/tables/public_nps_rating_dismissal.yaml
  hasura/metadata/databases/carnet_de_bord/tables/tables.yaml
  hasura/migrations/carnet_de_bord/1678120606346_nps_rating/down.sql
  hasura/migrations/carnet_de_bord/1678120606346_nps_rating/up.sql
  hasura/seeds/carnet_de_bord/seed-data.sql
Due: e2e-prettier, e2e-eslint, check-hasura-version

chore(release): 1.207.0
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  0e/c2752914c438cf9f120caa7a1a7d9baba29842
Due: check-hasura-version

fix: use Decimal to properly manipulate hourly rate
  app/elm.json
  app/elm/Diagnostic/Main.elm
  app/elm/DiagnosticEdit/Main.elm
  app/elm/Domain/ProfessionalProject.elm
Due: check-hasura-version

chore: rephrase some texts
  app/elm/Diagnostic/Main.elm
  app/elm/DiagnosticEdit/Main.elm
  e2e/features/pro/carnet/professional_projects.feature
Due: check-hasura-version

chore: forbid negative values and small adjustements thanks François
  app/elm/DiagnosticEdit/Main.elm
  app/src/lib/ui/ProNotebookSocioPro/ProNotebookSocioProUpdate.svelte
  hasura/migrations/carnet_de_bord/1678982297641_alter_table_public_professional_project_add_check_constraint_mobility-radius-ge-zero/down.sql
  hasura/migrations/carnet_de_bord/1678982297641_alter_table_public_professional_project_add_check_constraint_mobility-radius-ge-zero/up.sql
  hasura/migrations/carnet_de_bord/1678982351351_alter_table_public_professional_project_add_check_constraint_hourly-rate-gt-zero/down.sql
  hasura/migrations/carnet_de_bord/1678982351351_alter_table_public_professional_project_add_check_constraint_hourly-rate-gt-zero/up.sql
Due: check-hasura-version

fix: update test matcher
  e2e/features/manager/viewNotebook.feature
  e2e/features/orientationManager/carnet/edit.feature
  e2e/features/orientationManager/carnet/focus.feature
  e2e/features/orientationManager/home.feature
  e2e/features/pro/carnet/professional_projects.feature
  e2e/features/pro/carnet/read_only_other_notebook.feature
  e2e/features/pro/carnet/sociopro.feature
  e2e/step_definitions/steps.js
Due: e2e-prettier, e2e-eslint, check-hasura-version

chore: use index in input names
  app/elm/DiagnosticEdit/Main.elm
Due: check-hasura-version

chore: distinguish between multiple update buttons on same page
  app/src/lib/ui/ProNotebookPersonalInfo/ProNotebookPersonalInfoView.svelte
  app/src/lib/ui/ProNotebookSocioPro/ProNotebookSocioProView.svelte
  e2e/features/manager/viewNotebook.feature
  e2e/features/orientationManager/carnet/edit.feature
  e2e/features/pro/carnet/professional_projects.feature
  e2e/features/pro/carnet/sociopro.feature
  e2e/step_definitions/steps.js
Due: e2e-prettier, e2e-eslint, check-hasura-version

feat: add contract type, employment type and hourly rate to pro project table
  hasura/metadata/databases/carnet_de_bord/tables/public_contract_type.yaml
  hasura/metadata/databases/carnet_de_bord/tables/public_employment_type.yaml
  hasura/metadata/databases/carnet_de_bord/tables/public_professional_project.yaml
  hasura/metadata/databases/carnet_de_bord/tables/tables.yaml
  hasura/migrations/carnet_de_bord/1677530150445_add-contract-employment-and-hourly-rate-to-pro-project/down.sql
  hasura/migrations/carnet_de_bord/1677530150445_add-contract-employment-and-hourly-rate-to-pro-project/up.sql
Due: check-hasura-version

test: simplify matcher that require heading
  e2e/features/manager/viewNotebook.feature
  e2e/features/orientationManager/carnet/edit.feature
  e2e/features/orientationManager/carnet/focus.feature
  e2e/features/orientationManager/home.feature
  e2e/features/pro/carnet/professional_projects.feature
  e2e/features/pro/carnet/read_only_other_notebook.feature
  e2e/features/pro/carnet/sociopro.feature
  e2e/step_definitions/steps.js
Due: e2e-prettier, e2e-eslint, check-hasura-version

chore: correct field comment
  hasura/migrations/carnet_de_bord/1677530150445_add-contract-employment-and-hourly-rate-to-pro-project/up.sql
Due: check-hasura-version

test: update matcher
  e2e/features/pro/carnet/professional_projects.feature
  e2e/step_definitions/steps.js
Due: e2e-prettier, e2e-eslint, check-hasura-version

chore: use string instead of casting to float during typing
  app/elm/DiagnosticEdit/Main.elm
  e2e/features/pro/carnet/professional_projects.feature
Due: check-hasura-version

feat: update new fields
  app/elm/Diagnostic/Main.elm
  app/elm/DiagnosticEdit/Main.elm
  app/elm/DiagnosticEdit/Main.elm.d.ts
  app/elm/Domain/ProfessionalProject.elm
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/lib/ui/ProNotebookSocioPro/ProNotebookSocioProUpdate.svelte
  hasura/metadata/databases/carnet_de_bord/tables/public_professional_project.yaml
Due: check-hasura-version

chore: handle comma and invalid hourly rate values
  app/elm/DiagnosticEdit/Main.elm
Due: check-hasura-version

feat: add smic notice onInput
  app/elm/DiagnosticEdit/Main.elm
Due: check-hasura-version

chore: remove extra console log
  app/src/lib/ui/ProNotebookSocioPro/ProNotebookSocioProUpdate.svelte
Due: check-hasura-version

feat(projetpro): affichage des infos contrat
  app/elm/Diagnostic/Main.elm
  app/elm/Diagnostic/Main.elm.d.ts
  app/elm/DiagnosticEdit/Main.elm
  app/elm/DiagnosticEdit/Main.elm.d.ts
  app/elm/Domain/ProfessionalProject.elm
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/lib/ui/Beneficiary/SocioProView.svelte
  app/src/lib/ui/ProNotebookSocioPro/ProNotebookSocioProUpdate.svelte
  app/src/routes/(auth)/beneficiaire/_getNotebookByBeneficiaryId.gql
  app/src/routes/(auth)/pro/carnet/_getNotebook.gql
  hasura/migrations/carnet_de_bord/1677530150445_add-contract-employment-and-hourly-rate-to-pro-project/up.sql
Due: check-hasura-version, check-codegen

fix: udpate review
  app/elm/Diagnostic/Main.elm
  app/elm/DiagnosticEdit/Main.elm
  app/src/lib/ui/ProNotebookSocioPro/ProNotebookSocioProUpdate.svelte
Due: check-hasura-version

chore: forbid negative values and small adjustements thanks François
  app/elm/DiagnosticEdit/Main.elm
  app/src/lib/ui/ProNotebookSocioPro/ProNotebookSocioProUpdate.svelte
Due: check-hasura-version

feat: Ajouter le salaire minimum, la durée du temps de travail et le type de contrat recherchés dans le projet professionnel. (#1569)
  app/elm.json
  app/elm/Diagnostic/Main.elm
  app/elm/Diagnostic/Main.elm.d.ts
  app/elm/DiagnosticEdit/Main.elm
  app/elm/DiagnosticEdit/Main.elm.d.ts
  app/elm/Domain/ProfessionalProject.elm
  app/src/lib/graphql/_gen/typed-document-nodes.ts
  app/src/lib/ui/Beneficiary/SocioProView.svelte
  app/src/lib/ui/ProNotebookPersonalInfo/ProNotebookPersonalInfoView.svelte
  app/src/lib/ui/ProNotebookSocioPro/ProNotebookSocioProUpdate.svelte
  app/src/lib/ui/ProNotebookSocioPro/ProNotebookSocioProView.svelte
  app/src/routes/(auth)/beneficiaire/_getNotebookByBeneficiaryId.gql
  app/src/routes/(auth)/pro/carnet/_getNotebook.gql
  e2e/features/manager/viewNotebook.feature
  e2e/features/orientationManager/carnet/edit.feature
  e2e/features/orientationManager/home.feature
  e2e/features/pro/carnet/professional_projects.feature
  e2e/features/pro/carnet/sociopro.feature
  e2e/step_definitions/steps.js
  hasura/metadata/databases/carnet_de_bord/tables/public_contract_type.yaml
  hasura/metadata/databases/carnet_de_bord/tables/public_employment_type.yaml
  hasura/metadata/databases/carnet_de_bord/tables/public_professional_project.yaml
  hasura/metadata/databases/carnet_de_bord/tables/tables.yaml
  hasura/migrations/carnet_de_bord/1677530150445_add-contract-employment-and-hourly-rate-to-pro-project/down.sql
  hasura/migrations/carnet_de_bord/1677530150445_add-contract-employment-and-hourly-rate-to-pro-project/up.sql
  hasura/migrations/carnet_de_bord/1678982297641_alter_table_public_professional_project_add_check_constraint_mobility-radius-ge-zero/down.sql
  hasura/migrations/carnet_de_bord/1678982297641_alter_table_public_professional_project_add_check_constraint_mobility-radius-ge-zero/up.sql
  hasura/migrations/carnet_de_bord/1678982351351_alter_table_public_professional_project_add_check_constraint_hourly-rate-gt-zero/down.sql
  hasura/migrations/carnet_de_bord/1678982351351_alter_table_public_professional_project_add_check_constraint_hourly-rate-gt-zero/up.sql
Due: e2e-prettier, e2e-eslint, check-hasura-version, check-codegen

chore(release): 1.208.0
  CHANGELOG.md
  app/package-lock.json
  app/package.json
  backend/pyproject.toml
Due: check-hasura-version

Notes added by 'git notes add'
  4c/8b51a7cc670d0511da5ddd98d16ccc3b2a899d
Due: check-hasura-version

chore: remove wrong log
  scripts/deploy-review-apps.sh
Due: check-hasura-version

chore: wait end of deployment
  scripts/deploy-review-apps.sh
Due: check-hasura-version

chore: disable scalingo autodeploy
  .github/workflows/review.yml
  scripts/create-review-apps.sh
Due: check-hasura-version

chore: add a dedicated workflow to re-deploy review app
  .github/workflows/deploy-review.yml
  scripts/deploy-review-apps.sh
Due: check-hasura-version

chore: disable autodeploy on app creation
  scripts/create-review-apps.sh
Due: check-hasura-version

Path conditions:
  e2e-prettier: any of: ^e2e/.*$ and \.(js|mjs|cjs)$
  e2e-eslint: any of: ^e2e/.*$ and \.(js|mjs|cjs)$
  check-hasura-version: any of: (?x)^(
  hasura/Dockerfile|
  hasura/.hasura_version|
)

  check-codegen: any of: ^app/.*\.gql$
